<section class="title center">
  <h2>Take control of <em>your</em> favorite music blogs &amp; artists</h2>
  <p><strong>Follow blogs, artists and friends.  Find good music. Post good music.</strong></p>
    
    <div id="quick-signup" class="clearfix">
      <%= form_tag do %>        
        <ol class="clearfix">
          <li>
            <div class="clearfix">
              <%= label_tag :blog1, "Username" %>
              <%= text_field_tag :blog1, '' %>
            </div>
          </li>
          <li>
            <div class="clearfix">
              <%= label_tag :blog2, "Password" %>
              <%= text_field_tag :blog2, '' %>
            </div>
          </li>
          <li id="qs-buttons">
            <div class="clearfix">
              <%= label_tag :facebook, "Login with one of these" %>
              <%= link_to 'Facebook', '#', :class => 'signin facebook' %>
              <%= link_to 'Twitter', '#', :class => 'signin twitter' %>
              <%= link_to 'Google', '#', :class => 'signin google' %>
            </div>
          </li>
        </ol>
      <% end %>
    </div>
</section>

<div class="shelf">
  <ul>
    <%= render :partial => 'stations/shelf', :collection => @stations %>
  </ul>
</div>

<div class="grid">
  <div class="twothirds">
    <h3>Popular Songs</h3>
    <%= render :partial => 'stations/playlist', :locals => { :station => @popular } %>
    <%= link_to 'Browse more songs', '/songs', :class => 'button' %>
  </div>
  
  <div class="third">
    <section>
      <h3>Browse by Genre</h3>
      <ul id="genres">
      <%= render @genres %>
      </ul>
    </section>
  
    <section>
      <h3>Artists</h3>
      <div class="artist-list">
        <%= render :partial => 'artists/artist', :collection => @artists unless @artists.nil? %>
      </div>
      <%= link_to 'Browse more artists', '/artists', :class => 'button' %>
    </section>
  </div>
</div>