<%- if !user_signed_in? -%>
<div class="title center">
  <h2>Find &amp; share music with your friends</h2>
    
    <div id="quick-signup" class="clearfix">
      <%= form_tag do %>        
        <ol class="clearfix">
          <li>
            <div class="clearfix">
              <%= label_tag :blog1, "Username" %>
              <%= text_field_tag :blog1, '' %>
            </div>
          </li>
          <li>
            <div class="clearfix">
              <%= label_tag :blog2, "Password" %>
              <%= text_field_tag :blog2, '' %>
            </div>
          </li>
          <li id="qs-buttons">
            <div class="clearfix">
              <%= label_tag :facebook, "Login with one of these" %>
              <%= link_to 'Facebook', '#', :class => 'signin facebook' %>
              <%= link_to 'Twitter', '#', :class => 'signin twitter' %>
              <%= link_to 'Google', '#', :class => 'signin google' %>
            </div>
          </li>
        </ol>
      <% end %>
    </div>
</div>
<%- else -%>
<div class="title">
  <h2>Welcome, <%= current_user.username %></h2>
  <div class="title_nav"><%= link_to 'My Station', current_user, :class => 'button' %></div>
</div>
<%- end -%>

<%- if !user_signed_in? -%>
<div class="shelf">
  <h3>Featured Blogs</h3>
  <ul>
    <%= render :partial => 'stations/shelf', :collection => @featured %>
  </ul>
</div>
<%- end -%>

<div class="twothirds">
<%- if user_signed_in? -%>
  <h3>Song Feed</h3>
  <%= render :partial => 'stations/playlist', :locals => { :station => @feed } %>
<%- else -%>
  <h3>Popular Songs</h3>
  <%= render :partial => 'stations/playlist', :locals => { :station => @popular } %>
  <%= link_to 'Browse more songs', '/songs', :class => 'button' %>
<%- end -%>
</div>

<div class="third">
  <%- if user_signed_in? -%>
  <div class="shelf">
    <h3>Featured Blogs</h3>
    <ul>
      <%= render :partial => 'stations/shelf', :collection => @featured %>
    </ul>
  </div>
  <%- end -%>
  
  <section>
    <h3>Browse by Genre</h3>
    <ul id="genres">
    <%= render @genres %>
    </ul>
  </section>

  <section>
    <h3>Artists</h3>
    <ul class="list">
      <%= render :partial => 'artists/artist', :collection => @artists unless @artists.nil? %>
    </ul>
    <%= link_to 'Browse more artists', '/artists', :class => 'button' %>
  </section>
</div>