<section class="begin columns center">
  <h2>Fuse.fm creates a radio station out of your music blogs</h2>
  <p><strong>Take the worry about of getting new music.</strong>
    Enter the music blogs you like &amp; we stream all their latest music.</p>
    
    <div id="quick-signup">
      <%= form_tag do %>
        <div class="third">
          <%= label_tag :blog1, "Username" %>
        </div>
        <div class="third">
          <%= label_tag :blog2, "Password" %>
        </div>
        <div class="third">
          <%= label_tag :facebook, "Login with one of these" %>
        </div>

        <br />

        <div class="third">
          <%= text_field_tag :blog1, '' %>
        </div>
        <div class="third">
          <%= text_field_tag :blog2, '' %>
        </div>
        <div class="third">
          <%= link_to 'Facebook', '#', :class => 'signin facebook' %>
          <%= link_to 'Twitter', '#', :class => 'signin twitter' %>
          <%= link_to 'Google', '#', :class => 'signin google' %>
        </div>
      <% end %>
    </div>
</section>

<div class="columns">
  <div class="half">
    <section>
      <h2>Featured Stations</h2>
      <div id="featured-stations">
        <%= render :partial => 'stations/station', :collection => @stations unless @stations.nil? %>
      </div>
      <%= link_to 'Browse more stations', '/stations', :class => 'button' %>
    </section>
  </div>
  
  <section class="half">
    <h2>Popular Songs</h2>
    <div id="song-playlist" class="mini">
      <%= render :partial => 'songs/song', :collection => @popular, :locals => { :length => 110 } unless @popular.nil? %>
    </div>
    <%= link_to 'Browse more songs', '/songs', :class => 'button' %>
  </section>
</div>