<section class="begin columns center">
  <h2>It's an online radio station (of your favorite music blogs)</h2>
  <p><strong>We take the hassle out of finding new music.  Turn all your favorite blogs into a radio station!</strong></p>
    
    <div id="quick-signup" class="clearfix">
      <%= form_tag do %>        
        <ol class="clearfix">
          <li>
            <div class="clearfix">
              <%= label_tag :blog1, "Username" %>
              <%= text_field_tag :blog1, '' %>
            </div>
          </li>
          <li>
            <div class="clearfix">
              <%= label_tag :blog2, "Password" %>
              <%= text_field_tag :blog2, '' %>
            </div>
          </li>
          <li id="qs-buttons">
            <div class="clearfix">
              <%= label_tag :facebook, "Login with one of these" %>
              <%= link_to 'Facebook', '#', :class => 'signin facebook' %>
              <%= link_to 'Twitter', '#', :class => 'signin twitter' %>
              <%= link_to 'Google', '#', :class => 'signin google' %>
            </div>
          </li>
        </ol>
      <% end %>
    </div>
</section>

<div class="content">
  <h2>Popular Songs</h2>
  <div class="song-playlist" class="mini">
    <%= render :partial => 'songs/song', :collection => @popular, :locals => { :length => 110 } unless @popular.nil? %>
  </div>
  <%= link_to 'Browse more songs', '/songs', :class => 'button' %>
</div>

<div class="side">
  <section>
    <h3>Browse by Genre</h3>
    <ul id="genres">
    <%= render @genres %>
    </ul>
  </section>
  
  <section>
    <h3>Featured Stations</h3>
    <div id="featured-stations">
      <%= render :partial => 'stations/station', :collection => @stations unless @stations.nil? %>
    </div>
    <%= link_to 'Browse more stations', '/stations', :class => 'button' %>
  </section>
</div>