<section class="title center">
  <h2>An online radio station of <em>your</em> favorite music blogs</h2>
  <p><strong>Follow all your favorite blogs, artists and friends.  It's all your favorite music on your own station.</strong></p>
    
    <div id="quick-signup" class="clearfix">
      <%= form_tag do %>        
        <ol class="clearfix">
          <li>
            <div class="clearfix">
              <%= label_tag :blog1, "Username" %>
              <%= text_field_tag :blog1, '' %>
            </div>
          </li>
          <li>
            <div class="clearfix">
              <%= label_tag :blog2, "Password" %>
              <%= text_field_tag :blog2, '' %>
            </div>
          </li>
          <li id="qs-buttons">
            <div class="clearfix">
              <%= label_tag :facebook, "Login with one of these" %>
              <%= link_to 'Facebook', '#', :class => 'signin facebook' %>
              <%= link_to 'Twitter', '#', :class => 'signin twitter' %>
              <%= link_to 'Google', '#', :class => 'signin google' %>
            </div>
          </li>
        </ol>
      <% end %>
    </div>
</section>

<div class="shelf">
  <h2>Featured Stations</h2>
  <ul>
    <%= render :partial => 'stations/shelf', :collection => @stations %>
  </ul>
</div>

<div class="grid">
  <div class="twothirds">
    <h2>Popular Songs</h2>
    <%= render :partial => 'stations/playlist', :locals => { :station => @popular } %>
    <%= link_to 'Browse more songs', '/songs', :class => 'button' %>
  </div>
  
  <div class="third">
    <section>
      <h3>Browse by Genre</h3>
      <ul id="genres">
      <%= render @genres %>
      </ul>
    </section>
  
    <section>
      <h3>Featured Stations</h3>
      <div id="station-list">
        <%= render :partial => 'stations/station', :collection => @stations, :locals => { :size => :small } unless @stations.nil? %>
      </div>
      <%= link_to 'Browse more stations', '/stations', :class => 'button' %>
    </section>
  </div>
</div>