<%- if user_signed_in? -%>

  <div class="whole nav-container">
    <h2 class="inline">Welcome, <%= current_user.username %></h2>
    <nav class="nav-menu">
      <%=link_to 'My feed', '#my-feed', :class => 'control' + (@has_songs ? ' active' : '') %>
      <%=link_to 'Popular today', '#popular-today', :class => 'control' + (@has_songs ? '' : ' active') %>
    </nav>

    <div id="my-feed" class="section <% if @has_songs %> active<% end %>">
      <%- if @has_songs -%>
        <%= render :partial => 'stations/playlist', :locals => { :station => current_user, :songs => current_user.following_songs } %>
      <%- else -%>
        <p class="attention"><strong>Your feed is empty!</strong> Enjoy todays most popular songs until you start following some stations!</p>
      <%- end -%>
    </div>

    <div id="popular-today" class="section <% if !@feed %> active<% end %>">
      <%= render :partial => 'stations/playlist', :locals => { :station => @popular, :songs => @popular_songs } %>
    </div>
  </div>

<%- else -%>

  <div class="whole">

    <div id="stations" class="nav-container">
      <h2 class="inline">Browse stations</h2>
      <nav class="nav-menu inline">
        <%= link_to 'Featured', '#stations-featured', :class => 'control active' %>
        <%= link_to 'Trending', '#stations-trending', :class => 'control' %>
        <%= link_to 'Artists', '#stations-artists', :class => 'control' %>
      </nav>
      <div class="contain stations-contain">
        <div id="stations-featured" class="playlist-cover stations section active">
          <%= render :partial => 'stations/station', :collection => @stations[:featured] %>
        </div>
        <div id="stations-trending" class="playlist-cover stations section">
          <%= render :partial => 'stations/station', :collection => @stations[:trending] %>
        </div>
        <div id="stations-artists" class="playlist-cover stations section">
          <%= render :partial => 'stations/station', :collection => @stations[:artists] %>
        </div>
      </div>
    </div>

    <h2>Popular today</h2>
    <%= render :partial => 'stations/playlist', :locals => { :station => @popular, :songs => @popular_songs } %>
  </div>

<%- end -%>