<section class="begin columns">
  <div class="half">
    <h2>Fuse.fm creates a radio station from your favorite blogs</h2>
    <h3>Begin by choosing a genre:</h3>
  </div>
  <div class="half">
    <%= form_tag do %>
      <p>
        <%= label_tag :blog1, "First Blog" %>
        <%= text_field_tag :blog1, '', :placeholder => 'http://' %>
      </p>
      <p>
        <%= label_tag :blog2, "Second" %>
        <%= text_field_tag :blog2, '', :placeholder => 'http://' %>
      </p>
      <p>
        <label for="facebook">Create account</label>
        <%= link_to 'Sign in with Facebook', '#', :class => 'signin facebook' %><br />
        <%= link_to 'Sign in with Twitter', '#', :class => 'signin twitter' %>
      </p>
    <% end %>
  </div>
</section>

<br />

<div class="columns">
  <section class="half">
    <h2>Featured Stations</h2>
    <div id="featured-stations">
      <%= render :partial => 'stations/station', :collection => @stations unless @stations.nil? %>
    </div>
    <%= link_to 'Browse more stations', '/stations', :class => 'button' %>
  </section>
  
  <section class="half">
    <h2>Popular Songs</h2>
    <div id="song-playlist" class="mini">
      <%= render :partial => 'songs/song', :collection => @popular unless @popular.nil? %>
    </div>
    <%= link_to 'Browse more songs', '/songs', :class => 'button' %>
  </section>
</div>