<%- if !user_signed_in? -%>
<div class="stations nav-container">
  <h2>Browse Stations</h2>
  <nav>
    <%=link_to 'Featured', '#stations-featured', :class => 'control active' %>
    <%=link_to 'Trending', '#stations-trending', :class => 'control' %>
    <%=link_to 'Artists', '#stations-artists', :class => 'control' %>
    <%=link_to 'Users', '#stations-users', :class => 'control' %>
  </nav>
  <div id="stations-featured" class="station-section active">
    <%= render :partial => 'stations/station', :collection => @stations[:featured] %>
  </div>
  <div id="stations-trending" class="station-section">
    <%= render :partial => 'stations/station', :collection => @stations[:trending] %>
  </div>
  <div id="stations-artists" class="station-section">
    <%= render :partial => 'stations/station', :collection => @stations[:artists] %>
  </div>
  <div id="stations-users" class="station-section">
    <%= render :partial => 'stations/station', :collection => @stations[:users] %>
  </div>
</div>
<%- end -%>

<%- if user_signed_in? -%>
  <div class="nav-container">
    <div class="twothirds">
      <h2>Welcome, <%= current_user.username %></h2>
      <nav class="right">
        <%=link_to 'My feed', '#my-feed', :class => 'control' + (@feed ? ' active' : '') %>
        <%=link_to 'Popular today', '#popular-today', :class => 'control' + (@feed ? '' : ' active') %>
      </nav>
    </div>

    <div id="my-feed" class="section twothirds<% if @feed %> active<% end %>">
      <%- if @feed -%>
        <%= render :partial => 'stations/playlist', :locals => { :station => @feed } %>
      <%- else -%>
        <p class="attention"><strong>Your feed is empty!</strong> Enjoy todays most popular songs until you start following some stations!</p>
      <%- end -%>
    </div>

    <div id="popular-today" class="section twothirds<% if !@feed %> active<% end %>">
      <%= render :partial => 'stations/playlist', :locals => { :station => @popular, :songs => @popular_songs } %>
    </div>
<%- else -%>
  <div class="twothirds">
    <h2>Popular Today</h2>
    <%= render :partial => 'stations/playlist', :locals => { :station => @popular, :songs => @popular.songs } %>
  </div>
<%- end -%>

  <div class="third">
    <%- if user_signed_in? -%>
    <section>
      <h2>My Stations</h2>
      <div class="list">
        <%= render @stations %>
      </div>
    <%- else -%>
      <section>
       <h2>Just In</h2>
       <%= render :partial => 'stations/playlist', :locals => { :station => @new, :songs => @new.songs, :per => 8, :compact => true } %>
      </section>
    <%- end -%>

    <section>
     <h2>Featured Artists</h2>
     <ul class="list">
       <%= render :partial => 'artists/artist', :collection => @artists unless @artists.nil? %>
     </ul>
     <%= link_to 'Browse more artists', '/artists', :class => 'button' %>
    </section>
  </div>
</div>

<%- if user_signed_in? %>
  </div>
<%- end -%>