<%- if !user_signed_in? -%>
<div class="half">
  <div class="stations">
    <h2>Popular Stations</h2>
    <div id="stations-featured">
      <%= render :partial => 'stations/station', :collection => @stations[:featured] %>
    </div>
  </div>
</div>

<div class="half">
  <div class="stations">
    <h2>Featured Artists</h2>
    <div id="stations-featured">
      <%= render :partial => 'stations/station', :collection => @stations[:artists] %>
    </div>
  </div>
</div>
<%- end -%>

<%- if user_signed_in? -%>
  <div class="nav-container">
    <div class="twothirds">
      <h2>Welcome, <%= current_user.username %></h2>
      <nav class="right">
        <%=link_to 'My feed', '#my-feed', :class => 'control' + (@feed ? ' active' : '') %>
        <%=link_to 'Popular today', '#popular-today', :class => 'control' + (@feed ? '' : ' active') %>
      </nav>
    </div>

    <div id="my-feed" class="section twothirds<% if @feed %> active<% end %>">
      <%- if @feed -%>
        <%= render :partial => 'stations/playlist', :locals => { :station => @feed } %>
      <%- else -%>
        <p class="attention"><strong>Your feed is empty!</strong> Enjoy todays most popular songs until you start following some stations!</p>
      <%- end -%>
    </div>

    <div id="popular-today" class="section twothirds<% if !@feed %> active<% end %>">
      <%= render :partial => 'stations/playlist', :locals => { :station => @popular, :songs => @popular_songs } %>
    </div>
<%- else -%>
  <div class="whole">
    <h2>Popular Songs</h2>
    <%= render :partial => 'stations/playlist', :locals => { :station => @popular, :songs => @popular_songs } %>
  </div>
<%- end -%>
</div>

<%- if user_signed_in? %>
  </div>
<%- end -%>