<%- if !user_signed_in? -%>
<div class="shelf">
  <h3>Featured Stations</h3>
  <ul>
    <%= render :partial => 'stations/shelf', :collection => @featured %>
  </ul>
</div>
<%- end -%>

<div class="twothirds">
  <h3>Trending</h3>
  <%= render :partial => 'stations/playlist', :locals => { :station => @popular, :songs => @popular.songs } %>
  <%= link_to 'Browse more songs', '/songs/fresh', :class => 'button right' %>
</div>

<div class="third">
  <section>
   <h3>Latest</h3>
   <%= render :partial => 'stations/playlist', :locals => { :station => @new, :songs => @new.songs, :pagination => false, :per => 8, :compact => true } %>
  </section>

  <section>
   <h3>Artists</h3>
   <ul class="list">
     <%= render :partial => 'artists/artist', :collection => @artists unless @artists.nil? %>
   </ul>
   <%= link_to 'Browse more artists', '/artists', :class => 'button' %>
  </section>
</div>