<div class="whole promo">
  <h2>Featured Stations</h2>
  <div class="shelf promo">
    <%= render :partial => 'stations/promo', :collection => @promos %>
  </div>
</div>

<%- if user_signed_in? -%>

  <div class="twothirds-wrap">
    <div class="twothirds nav-container">
      <h2 class="nav-menu">
        <%=link_to 'Music feed', '#my-feed', :class => 'control active' %>
        <%=link_to 'My stations', '#my-stations', :class => 'control' %>
      </h2>

      <div id="my-feed" class="section  active">
        <%- if @has_songs -%>
          <%= render :partial => 'stations/playlist', :locals => { :station => @user_station, :songs => @user_songs, :partial => true } %>
        <%- else -%>
          <p class="attention"><strong>Your feed is empty!</strong> Enjoy todays most popular songs until you start following some stations!</p>
          <%= render :partial => 'stations/playlist', :locals => { :station => @user_station, :songs => @user_songs, :partial => true } %>
        <%- end -%>
      </div>

      <div id="my-stations" class="section">
        <div class="stations">
          <%= render_stations @user_stations %>
        </div>
      </div>
    </div>
  </div>

<%- else -%>

  <div class="twothirds-wrap">
    <div class="twothirds">
      <h2>Todays top songs</h2>
      <%= render :partial => 'stations/playlist', :locals => { :station => @popular, :songs => @popular_songs } %>
    </div>
  </div>

<%- end -%>

  <div class="third">
    <h2>Top Blogs</h2>
    <div class="stations">
      <%= render_stations @blog_stations, :nofollow => true %>
    </div>

    <h2>Top Artists</h2>
    <div class="stations">
      <%= render_stations @artist_stations, :nofollow => true %>
    </div>

    <h2>Top Stations</h2>
    <div class="stations">
      <%= render_stations @top_stations, :nofollow => true %>
    </div>
  </div>