<%- if user_signed_in? -%>

  <div class="whole nav-container">
    <h2>Welcome, <%= current_user.username %></h2>
    <nav class="right">
      <%=link_to 'My feed', '#my-feed', :class => 'control' + (@has_songs ? ' active' : '') %>
      <%=link_to 'Popular today', '#popular-today', :class => 'control' + (@has_songs ? '' : ' active') %>
    </nav>

    <div id="my-feed" class="section <% if @has_songs %> active<% end %>">
      <%- if @has_songs -%>
        <%= render :partial => 'stations/playlist', :locals => { :station => current_user, :songs => current_user.following_songs } %>
      <%- else -%>
        <p class="attention"><strong>Your feed is empty!</strong> Enjoy todays most popular songs until you start following some stations!</p>
      <%- end -%>
    </div>

    <div id="popular-today" class="section <% if !@feed %> active<% end %>">
      <%= render :partial => 'stations/playlist', :locals => { :station => @popular, :songs => @popular_songs } %>
    </div>
  </div>

<%- else -%>

  <div class="whole intro">
    <h2><%= @catchphrases[rand(0..(@catchphrases.length-1))] %></h2>
  </div>

  <div class="whole">
    <h2>Popular Songs</h2>
    <%= render :partial => 'stations/playlist', :locals => { :station => @popular, :songs => @popular_songs } %>
  </div>

<%- end -%>