<section class="blog">
  <h3><%= link_to blog.name, blog %></h3>
  <a href="<%= url_for blog %>" class="image">
    <%= image_tag(blog.image.url(:original)) %>
  </a>
  <p><%= blog.description %></p>
  <div class="follow-<%= blog.station.id %>" class="follow"><%= follow_station(blog.station, blog.station.follows_count) %></div>
</section>