<section>
  <h4><%= link_to post.title, post %> <small><%= post.author %></small></h4>
  <span class="meta"><%= relative_time(post.created_at) %></span>
  <p><%= truncate(post.content, :length => 400) %></p>
  <h5>Songs</h5>
  <ul>
    <% for song in post.songs.processed %>
    <li><%= song.artist_name %> - <%= song.name %></li>
    <% end %>
  </ul> 
</section>