<% if !review.post_excerpt.blank? %>
<div class="review-<%= review.post_id %>">
  <h3><%= link_to review.station_title, '/'+review.station_slug %> <%=link_to '', review.blog_url, :class=> 'external popup', 'data-dimensions' => '800,900' %> wrote</h3>
  <p><%= review.post_excerpt %> <%= link_to 'Read more', review.post_url, :class => 'popup', 'data-dimensions' => '900,800' %></p>
</div>
<% end %>