<% if !review.post_excerpt.blank? %>
<div class="review-<%= review.post_id %>">
  <h4><%= link_to review.station_title, '/'+review.station_slug %> <%=link_to '', review.blog_url, :class=> 'popup' %> wrote</h4>
  <p><%= review.post_excerpt %> <%= link_to 'Read more', review.post_url, :class => 'popup' %></p>
</div>
<% end %>