<div class="nav-container">
  <div class="title">
    <%= link_to 'Submit your blog', new_blog_path, class: 'button right' %>
    <%= render :partial => 'shared/stations_nav' %>
  </div>
</div>

<div class="whole">
  <%= render partial: 'shared/genre_subnav', locals: { object: 'artists' } %>

  <div class="stations">
    <%= render partial: 'stations/station', collection: @blogs, locals: { content: true } %>
    <%= paginate @blogs if @blogs.respond_to? 'current_page' %>
  </div>
</div>