<div class="title">
  <h2>Submit your blog <small>Submit with three simple steps</small></h2>
  <div class="title-nav"><h3>Step <%= @blog.step_index %>/3</h3></div>
</div>

<div class="twothirds">
  <h3><%= @blog.current_step.capitalize %></h3>
  <div id="wizard">
  <%= form_for @blog, :html => { :multipart => true } do |f| %>
    <%= render 'shared/form_errors', :target => @blog %>
    <%= render "new_#{@blog.current_step}_step", :f => f %>
    <div class="actions clearfix">
      <%= f.submit "Continue", :class => 'form-control continue' %>
      <%= f.submit "Back", :name => 'form-control back_button' unless @blog.first_step? %>
    </div>
  <% end %>
  </div>
</div>

<div class="third">
  <h3>Step <%= @blog.step_index %> of 3</h3>
  <p>Fill in some basic information on the blog.  If you leave the description blank, we will attempt to find a description on the site itself.</p>

  <h3>Terms &amp; Conditions</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>