<div class="title">
  <h2><%= link_to @blog.name, @blog.url, :target => '_blank' %> <small>Listen to songs posted by <%= @blog.name %></small></h2>
  
  <ul class="title_nav">
    <li id="follow-<%= @blog.station.id %>"><%= follow_station(@blog.station) %></li>
    <li><%= link_to "Visit Blog &raquo;".html_safe, @blog.url, :target => '_blank', :class => 'button' %></li>
  </ul>
</div>

<div class="twothirds">
  <p class="description">
    <%= @blog.description || "Browse the latest from #{@blog.name}" %>
  </p>
  
  <h3>Listen to <%= @blog.name %></h3>
  <%= render :partial => 'stations/playlist', :locals => { :station => @blog.station } %>
</div>

<div class="third">
  <div class="image">
    <%= image_tag(@blog.image.url(:original)) %>
  </div>
  
  <h4>Genres</h4>

  <h4>Stats</h4>

  <h4>Recent posts</h4>
  <%- if @posts.empty? -%>
  <p>We haven't gotten around to scanning any posts yet!</p>
  <%- else -%>
  <div class="artist-list">
    <%= render :partial => 'post', :collection => @posts, :as => :post %>
  </div>
  <%- end -%>
</div>