<div class="title">
  <h2><%= @blog.name %> <small><%= link_to "Visit the #{@blog.name} blog &raquo;".html_safe, @blog.url %></small></h2>
</div>

<div class="twothirds">
  <p class="description">
    <%= @blog.description || "Browse the latest from #{@blog.name}" %>
  </p>
  
  <h3>Listen to <%= @blog.name %></h3>
  <%= render :partial => 'stations/playlist', :locals => { :station => @blog } %>
</div>

<%= render 'side' %>