<%- cache ['v1', @blog] do -%>
<div class="title">
  <%= image_tag @blog.image.url(:medium), :class => 'image medium' %>
  <h1 class="icon"><%= @blog.name %> <span><%= link_to '', @blog.url, :target => '_blank' %></span></h1>
  <p><%= @blog.description %></p>
<%- end -%>

  <%= render :partial => 'shared/actions', :locals => { :station => @blog.station } %>
</div>

<div class="whole">
  <%= render 'stations/artists' %>

  <%
    cache ['v1', @blog, @blog.genres] do
      if @blog.genres.count > 0 %>
        <h3 class="horizontal">Genres:</h3>
        <ul class="genres horizontal">
          <%= render @blog.genres %>
        </ul>
  <%  end
    end %>

  <%= render :partial => 'stations/playlist', :locals => { :station => @blog.station } %>
</div>