<div class="content">
  <h2>Listen to <%= link_to @blog.name, @blog.url %> Radio</h2>
  <p class="description">
    <%= @blog.description || "Browse the latest songs from #{@blog.name}" %>
  </p>
  
  <ul class="actions">
    <li><%= link_to 'Update feed', '?feed=update' %></li>
    <li><%= link_to 'Delete posts', '?posts=delete' %></li>
    <li><%= link_to 'Download posts', '?posts=download' %></li>
    <li><%= link_to 'Download songs for latest post', '?songs=download' %></li>
  </ul>
  
  <div id="song_playlist">
    <%= render @songs unless @songs.nil? %>
  </div>
  
  <%= paginate @songs %>

  <%= link_to 'Edit', edit_blog_path(@blog) %>
</div>

<%= render 'side' %>