<div class="title">
  <div class="image cover-small">
    <%= image_tag(@blog.image.url(:original)) %>
  </div>

  <h2><%= @blog.name %></h2>

  <%= render :partial => 'shared/actions', :locals => { :station => @blog.station, :blog => @blog } %>
</div>

<div class="twothirds-wrap">
  <div class="twothirds">
    <%= render :partial => 'stations/playlist', :locals => { :station => @blog.station } %>
  </div>
</div>

<div class="third">
  <%- if @artists -%>
  <h3>Artists on this station</h3>
  <ul class="list">
	  <%= render :partial => 'artists/artist', :collection => @artists %>
  </ul>
  <%- end -%>
</div>