<div class="title">
  <div class="image cover-small">
    <%= image_tag(@blog.image.url(:original)) %>
  </div>

  <h2><%= @blog.name %> <%= link_to '', @blog.url, :target => '_blank' %></h2>

  <%= render :partial => 'shared/actions', :locals => { :station => @blog.station } %>
</div>

<div class="whole">
  <%= render 'stations/artists' %>

  <%= render :partial => 'stations/playlist', :locals => { :station => @blog.station } %>
</div>