<div class="title">
  <div class="image cover-small">
    <%= image_tag(@blog.image.url(:original)) %>
  </div>

  <h2><%= @blog.name %></h2>
  <p>Check out <%= link_to 'this blog', @blog.url, :target => '_blank' %></p>

  <%= render :partial => 'shared/actions', :locals => { :station => @blog.station } %>
</div>

<div class="twothirds-wrap">
  <div class="twothirds">
    <%= render :partial => 'stations/playlist', :locals => { :station => @blog.station } %>
  </div>
</div>

<%= render :partial => 'stations/sidebar' %>