<div class="content">
  <h2>Listen to <%= link_to @blog.name, @blog.url %> Radio</h2>
  <p class="description">
    <%= @blog.description || "Browse the latest songs from #{@blog.name}" %>
  </p>
  
  <ul class="actions">
    <li><%= link_to 'Update feed', '?feed=update', :class => 'control' %></li>
    <li><%= link_to 'Delete posts', '?posts=delete', :class => 'control' %></li>
    <li><%= link_to 'Download posts', '?posts=download', :class => 'control' %></li>
    <li><%= link_to 'Download songs for latest post', '?songs=download', :class => 'control' %></li>
  </ul>
  
  <%= form_for @station, :html => { :method => :put } do |f| %>
  <div id="song-playlist">
    <%= render :partial => 'shared/song', :collection => @songs unless @songs.nil? %>
  </div>
  <%= submit_tag 'Update Station Songs', :class => 'right' %>
  <% end %>

  <%= paginate @songs %>
</div>

<%= render 'side' %>