<div class="title">
  <%= image_tag @blog.image.url(:medium), :class => 'image medium' %>
  <h1><%= @blog.name %> </h1>
  <p><%= link_to 'Visit this blog', @blog.url, :target => '_blank' %></p>

  <%= render :partial => 'shared/actions', :locals => { :station => @blog.station } %>
</div>

<div class="whole">
  <%= render 'stations/artists' %>
  <%= render :partial => 'stations/playlist', :locals => { :station => @blog.station } %>
</div>