<%= render partial: 'shared/stations_nav' %>

<div class="whole">
  <ul class="subnav">
    <li><%= link_to 'Random', '/artists' %></li>
    <li><%= link_to "#", "/artists?letter=0" %></li>
    <%- ('A'..'Z').each do |letter| -%>
    <li><%= link_to letter, "/artists?letter=#{letter}" %></li>
    <%- end -%>
  </ul>

  <%= render partial: 'genres/nav' %>

  <div class="shelf">
    <%= render :partial => 'stations/shelf', :collection => @artists %>
  </div>
</div>