<%- cache ['v2', @artist] do -%>
<div class="nav-container">
  <div class="title">
    <%= image_tag @artist.image.url(:medium), :class => 'image medium' %>
    <h1><%= @artist.name %> <span><%= render :partial => 'shared/link', :locals => { :slug => @artist.station.slug } %></span></h1>

    <nav class="nav-menu">
      <%= nav_link_to 'New', station_path(@artist) %>
      <%= nav_link_to 'Originals', originals_artist_path(@artist) if @artist.has_originals? %>
      <%= nav_link_to "Remixes", remixes_by_artist_path(@artist) if @artist.has_remixes? %>
      <%= nav_link_to "Remixed", remixes_of_artist_path(@artist) if @artist_has_remixes_of %>
      <%= nav_link_to "Mashups", mashups_artist_path(@artist) if @artist.has_mashups? %>
      <%= nav_link_to "Covers", covers_artist_path(@artist) if @artist.has_covers? %>
      <%= nav_link_to "Productions", productions_artist_path(@artist) if @artist.has_productions? %>
      <%= nav_link_to "Featuring", features_artist_path(@artist) if @artist.has_features? %>
    </nav>
<%- end -%>
    <%= render :partial => 'shared/actions', :locals => { :station => @artist.station } %>
  </div>

  <div class="whole">
    <%= render :partial => 'stations/playlist', :locals => { :station => @artist.station, :songs => @songs, :cache_val => @type } %>
  </div>
</div>