<%- cache ['v5', @artist, @artist.genres.length] do -%>
<div class="nav-container">
  <div class="title">
    <%= image_tag @artist.image.url(:medium), :class => 'image medium' %>
    <h1 class="has-image"><%= @artist.name %></h1>

    <div class="title-bar">
      <div class="title-buttons">
        <%= link_to 'iTunes', "http://click.linksynergy.com/fs-bin/stat?id=UAraRlBl3X8&offerid=146261&type=3&subid=0&tmpid=1826&RD_PARM1=http%253A%2F%2Fax.search.itunes.apple.com%2FWebObjects%2FMZSearch.woa%2Fwa%2FadvancedSearch%253FallArtistNames%253D#{URI.encode(URI.encode(@artist.name))}%2526media%253Dmusic", class: 'popup button small grey' %>
        <%= link_to 'Amazon', "http://www.amazon.com/s/ref=nb_ss_dmusic/?tag=bassdo-20&url=search-alias%3Ddigital-music&field-keywords=#{URI.encode(@artist.name)}", class: 'popup button small grey' %>
      </div>

      <%= render partial: 'genres/horizontal_list', locals: { genres: @artist.genres } %>
    </div>

    <nav class="nav-menu">
      <%= nav_link_to 'New', station_path(@artist) %>
      <%= nav_link_to 'Originals', originals_artist_path(@artist) if @artist.has_originals? %>
      <%= nav_link_to "Remixes by", remixes_by_artist_path(@artist) if @artist.has_remixes? %>
      <%= nav_link_to "Remixes of", remixes_of_artist_path(@artist) if @artist_has_remixes_of %>
      <%= nav_link_to "Mashups", mashups_artist_path(@artist) if @artist.has_mashups? %>
      <%= nav_link_to "Covers", covers_artist_path(@artist) if @artist.has_covers? %>
      <%= nav_link_to "Productions", productions_artist_path(@artist) if @artist.has_productions? %>
      <%= nav_link_to "Featuring", features_artist_path(@artist) if @artist.has_features? %>
    </nav>
<%- end -%>
    <%= render :partial => 'shared/actions', :locals => { :station => @artist.station } %>
  </div>

  <div class="whole">
    <%= render :partial => 'stations/playlist', :locals => { :station => @artist.station, :songs => @songs, :cache_val => @type } %>
  </div>
</div>