<div class="nav-container">
  <div class="title">
    <%= image_tag @artist.image.url(:medium), :class => 'image medium' %>
    <h1 class="icon"><%= @artist.name %></h1>

    <%- if @artist.song_count > 2 -%>
    <nav class="nav-menu">
      <%= nav_link_to 'New', station_path(@artist) %>
      <%= nav_link_to 'Popular', artist_popular_path(@artist) if @artist.song_count > 9 %>
      <%= nav_link_to 'Originals', artist_originals_path(@artist) if @artist.has_originals? %>
      <%= nav_link_to "Remixes", artist_remixes_path(@artist) if @artist.has_remixes? %>
      <%= nav_link_to "Mashups", artist_mashups_path(@artist) if @artist.has_mashups? %>
      <%= nav_link_to "Covers", artist_covers_path(@artist) if @artist.has_covers? %>
      <%= nav_link_to "Productions", artist_productions_path(@artist) if @artist.has_productions? %>
      <%= nav_link_to "Featuring", artist_features_path(@artist) if @artist.has_features? %>
    </nav>
    <%- end -%>

    <%= render :partial => 'shared/actions', :locals => { :station => @artist.station } %>
  </div>

  <div class="whole">
    <%= render :partial => 'stations/playlist', :locals => { :station => @artist.station, :songs => @songs } %>
  </div>
</div>