<%-
  style         ||= 'song'
  nolimit       ||= false
  partial       ||= false
  part_or_nolim   = partial || nolimit
  station       ||= Station.new
  id              = station.id || 0
  page            = (params[:p] || 1).to_i
  paginate        = (paginate == false || style == 'mini') ? false : true
  per           ||= Yetting.per
  songs         ||= station.songs.playlist_order_broadcasted
  songs           = songs.limit_full(page, per) unless part_or_nolim
  has_more        = songs.length == (part_or_nolim ? per : (page*per))
  classname     ||= ''
  cover         ||= 'icon'
  single        ||= false
  reviews       ||= nil
  cache_val     ||= nil
  id_page         = "#{id}-#{page}"
  cache           = cache_key(['v4', station, page, per, partial, single, cache_val])

  cache_if(id > 5, cache) do -%>

<div id="playlist-<%= id_page %>" class="playlist playlist-<%= style %> not-loaded <%= classname %> <%= 'has-more' if has_more %>" data-key="<%= cache %>"
  data-playlist="{&quot;station&quot;: {&quot;id&quot;:&quot;<%= id_page %>&quot;,&quot;title&quot;:&quot;<%= station.title %>&quot;,&quot;slug&quot;:&quot;<%= station.slug %>&quot;},&quot;songs&quot;: <%= songs.to_a.to_playlist %>}">
  <%= render :partial => "songs/#{style}", :collection => songs, :locals => { :station_id => id, :page => page, :cover => cover, :partial => partial, :single => single, :reviews => reviews } unless songs.nil? %>
</div>

<%-
  end # end cache
-%>

<%= link_to 'Next Page', '', :class => 'next-page control' if has_more %>

<%-

  # update non-cached values
  # broadcasts, follows, listens, counts
  if user_signed_in?
    ids = songs.map(&:matching_id)
    stations = songs.map(&:station_id).uniq
    stations = stations | songs.map(&:following_station_id).uniq if songs.first.respond_to? :following_station_id
    broadcasts = current_user.get_song_broadcasts(ids) || []
    follows = current_user.get_station_follows(stations) || []
    listens = {}
    current_user.get_song_listens(ids).each { |l| listens[l.song_id] = l.shortcode }
  end

  broadcasts_count = {}
  songs.each { |s| broadcasts_count[s.matching_id] = s.user_broadcasts_count }
-%>

<script type="text/javascript">
  <%- if user_signed_in? -%>
  broadcastedIds['<%= id_page %>'] = <%= raw broadcasts %>;
  updateBroadcastsIds = broadcastedIds['<%= id_page %>'];
  updateFollowsIds = <%= raw follows %>;
  updateListensIds = <%= raw listens.to_json %>;
  <%- end -%>
  updateBroadcastsCounts = <%= raw broadcasts_count.to_json %>;
</script>