<%-
  nolimit       ||= false
  partial       ||= false
  part_or_nolim   = partial || nolimit
  station       ||= Station.new
	id              = station.id || 0
  page            = (params[:p] || 1).to_i
  per           ||= Yetting.per
  songs         ||= station.songs.playlist_order_broadcasted(current_user)
  songs           = songs.limit_full(page, per) unless part_or_nolim
  style         ||= 'song'
  paginate        = (paginate == false || style == 'mini') ? false : true
  has_more        = songs.length == (part_or_nolim ? per : (page*per))
  classname     ||= ''
  cover         ||= 'small'
-%>

<% if false %>
  <div class="playlist-header">
    <span class="ph-song"><%= station.title || "Songs" %></span>
    <span class="ph-station">Original Station</span>
  </div>
<% end %>

<div id="playlist-<%= id %>-<%= page %>" class="playlist playlist-<%= style %> <%= classname %>"
  data-playlist="{&quot;station&quot;: {&quot;id&quot;:&quot;<%= id %>-<%= page %>&quot;,&quot;title&quot;:&quot;<%= station.title %>&quot;,&quot;slug&quot;:&quot;<%= station.slug %>&quot;},&quot;songs&quot;: <%= songs.to_a.to_playlist %>}">
  <%= render :partial => "songs/#{style}", :collection => songs, :locals => { :station_id => id, :page => page, :cover => cover } unless songs.nil? %>
</div>

<%= link_to 'Load more', '/page-2', :class => 'next-page control' if paginate and has_more %>
