<%- station       ||= Station.new
		id              = station.id || 0
		per           ||= 12
    songs         ||= station.songs.playlist_order_broadcasted
    songs           = songs.page(params[:page]).per(per)
    compact       ||= false
    page            = params[:page] ? params[:page] : 0
    paginate        = (paginate == false || compact) ? false : true  -%>

<div id="playlist-<%= id %>-<%= page %>" class="playlist case"
  data-playlist="{&quot;station&quot;: {&quot;id&quot;:&quot;<%= id %>-<%= page %>&quot;,&quot;title&quot;:&quot;<%= station.title %>&quot;},&quot;songs&quot;: <%= songs.to_a.to_playlist %>}">
  <%= render :partial => (compact ? 'songs/mini' : 'songs/song'), :collection => songs, :locals => { :station_id => id, :page => page } unless songs.nil? %>
</div>

<%= link_to 'Load more', '#page-2', :id => 'next-page', :class => 'control' if paginate %>