<%-
  featured    ||= false
  is_featured   = featured && shelf_counter == 0
  image_size  ||= is_featured ? :original : :medium
  classname     = "shelf-#{english_number(shelf_counter)}"
-%>
  <li class="<%= classname %>">
    <h4><%= shelf.title %></h4>
    <span><%= image_tag shelf.image.url(image_size) %></span>
    <p><%= pluralize(shelf.broadcasts_count, 'song') %></p>
    <%= render partial: 'stations/buttons', locals: { station: shelf, nocache: false } %>
    <%= link_to '', station_path(shelf), :class => 'station-link' %>
  </li>