<div class="side">
  <% if @station.blog %>
  <div class="image">
    <%= image_tag(@station.image_or_parent) %>
  </div>
  <%= station_follow_unfollow(@station.id) %>
  <%= link_to "View the #{@station.blog.name} profile", @station.blog, :class => 'button' unless @station.blog.nil? %>
  <% end %>
  
  <div id="playlist"><%= @station.playlist %></div>
  

  <h3><%= @station.name %> Stats</h3>
</div>