<% size ||= :medium %>
<section>
  <%= link_to image_tag(station.image_or_parent(size)), station, :class => 'image' %>
  <div>
    <h3><%= link_to station.name, station %></h3>
    <p><%= station.description %></p>
    <% if can? :manage, station %>
    <span>
      <%= link_to 'Edit', edit_station_path(station) %>
      <%= link_to 'Destroy', station, confirm: 'Are you sure?', method: :delete %>
    </span>
    <% end %>
  </div>
</section>