<section>
  <div class="cover">
    <div class="art">
      <%= image_tag station.image.url(:medium) %>
    </div>

    <h4><%= link_to station.title, '/'+station.slug %></h4>

    <%= link_to '', '/'+station.slug, :class => 'wrap' %>

    <nav>
      <%= render :partial => 'stations/stats', :locals => { :station => station } %>
    </nav>
  </div>
  <%= debug(station) %>
</section>