<%-
  nofollow    ||= false
  size        ||= :small
  nocache     ||= false
  title       ||= station.title
  content     ||= nil
-%>

<section>
  <div class="station-info">
    <%= link_to image_tag(station.image.url(size)), station, :class => 'image' %>
    <h4><%= title %></h4>
    <span><%= pluralize number_with_delimiter(station.broadcasts_count), 'song' %></span>
    <% if content and station.content %><p><%= station.content %></p><% end %>
  </div>
  <%= render partial: 'stations/buttons', locals: { station: station, nocache: nocache } unless nofollow %>
  <%= link_to '', station_path(station), :class => 'station-link' %>
</section>