<section>
  <%= link_to image_tag(station.image.url(:small)), station, :class => 'image' %>
  <div class="station-info">
    <h4><%= link_to station.title, '/'+station.slug %></h4>
    <span><%= pluralize number_with_delimiter(station.broadcasts_count), 'song' %></span>
  </div>
  <div class="station-follow">
    <%= follow_station(station) %>
  </div>
  <%= link_to '', '/'+station.slug, :class => 'station-link' %>
  <%= debug(station) %>
</section>