<%-
  nofollow    ||= false
  size        ||= :small
  nocache     ||= false
  title       ||= station.title
  content     ||= nil
-%>

<section>
  <%= link_to image_tag(station.image.url(size)), station, :class => 'image' %>
  <div class="station-info">
    <h4><%= title %></h4>
    <span><%= pluralize number_with_delimiter(station.broadcasts_count), 'song' %></span>
    <% if content and station.content %><p><%= station.content %></p><% end %>
  </div>
  <%- unless nofollow -%>
  <div class="station-buttons">
    <%= link_to 'Play', station, class: 'button play-station' %>
    <div class="station-follow follow-<%= station.id %>">
      <%= follow_station(station.id, station.follows_count, :nocache => nocache) %>
    </div>
  </div>
  <%- end -%>
  <%= link_to '', station_path(station), :class => 'station-link' %>
</section>