<%-
  nofollow ||= false
  size ||= :small
-%>

<section>
  <%= link_to image_tag(station.image.url(size)), station, :class => 'image' %>
  <div class="station-info">
    <h4><%= link_to station.title, '/'+station.slug %></h4>
    <span><%= pluralize number_with_delimiter(station.broadcasts_count), 'song' %></span>
  </div>
  <%- unless nofollow -%>
  <div class="station-follow follow-<%= station.id %>">
    <%= follow_station(station.id, station.follows_count) %>
  </div>
  <%- end -%>
  <%= link_to '', '/'+station.slug, :class => 'station-link' %>
  <%= debug(station) %>
</section>