<div class="title">
  <div class="image cover-small">
    <%= image_tag(@station.image.url(:small)) %>
  </div>

  <h2><%= @station.title %></h2>
  <p>Updated <%= relative_time @station.last_broadcasted_at %> &middot; <%= pluralize number_with_delimiter(@station.broadcasts_count), 'song' %></p>

  <%= render :partial => 'shared/actions', :locals => { :station => @station } %>
</div>

<div class="contain">
  <%- if @station.songs.count > 0 -%>
  <div class="twothirds-wrap">
    <div class="twothirds">
      <%= render :partial => 'stations/playlist', :locals => { :station => @station } %>
    </div>
  </div>

  <%= render :partial => 'sidebar' %>

  <%- else -%>
  <div class="whole">
    <h2>No songs on this station, yet!</h2>
  </div>
  <%- end -%>
</div>