<div class="content">
  <h2>Listen to <%= @station.name %> Radio</h2>
  <p class="description">
    <%= @station.description || "Browse the latest songs from #{@station.name}" %>
  </p>
  
  <%= form_for @station, :html => { :method => :put } do |f| %>
  <div id="song-playlist">
    <%= render :partial => 'songs/song', :collection => @songs unless @songs.nil? %>
  </div>
  <%= submit_tag 'Update Station Songs', :class => 'right' %>
  <% end %>

  <%= paginate @songs %>
</div>

<%= render 'side' %>