<div class="content">
  <%= image_tag @station.image.url(:original), :class => 'icon' %>
  <h2>Listening to <%= @station.name %> Radio</h2>
  <p class="description">
    <%= @station.description || "Listening to the latest songs from the #{@station.name} station." %>
  </p>
  
  <%= form_for @station, :html => { :method => :put } do |f| %>
  <div id="song-playlist">
    <%= render :partial => 'songs/song', :collection => @songs unless @songs.nil? %>
  </div>
  <%= submit_tag 'Update Station Songs', :class => 'right' %>
  <% end %>

  <%= paginate @songs %>
</div>

<%= render 'side' %>