<div class="title">
  <div class="image cover-small">
    <%= image_tag(@station.image.url(:original)) %>
  </div>

  <h2><%= @station.title %> <small><%= @station.description %></small></h2>
  <p><%= render :partial => 'stations/stats', :locals => { :station => @station } %></p>

  <ul class="title-nav">
    <li id="follow-<%= @station.id %>"><%= follow_station(@station) %></li>
  </ul>
</div>

<div class="contain">
  <div class="twothirds-wrap">
    <div class="twothirds">
      <%= render :partial => 'stations/playlist', :locals => { :station => @station } %>
    </div>
  </div>

  <div class="third">
    <%- if @artists -%>
    <h3>Artists on this station</h3>
    <ul class="list">
      <%= render :partial => 'artists/artist', :collection => @artists %>
    </ul>
    <%- end -%>
  </div>
</div>