<html><body>
  <p>Hello, <strong><%= @receiver.full_name %></strong>,</p>

  <p>
    <strong><%= @sender.full_name %> shared a song with you on 2u.fm!</strong>
  </p>

  <p>
    <strong><%= link_to "#{@song.full_name}", 'http://2u.fm/inbox' %></strong>
  </p>

  <p>
    <%= image_tag 'http://2u.fm/' + @song.image(:medium).url if @song.image.exists? %>

  <p>
    Check it out in <%= link_to 'your inbox', 'http://2u.fm/inbox' %>!
  </p>

  <%= render 'signature' %>
</body></html>