<div class="title grid">
  <div class="twothirds">
    <%= image_tag @user.avatar.url(:small), :class => 'icon' %>
    <h2 class="icon"><%= @user.username %> Radio <small>Listen to the latest songs <%= @user.username %> has liked.</small></h2>
  </div>
  <div class="third">
    
  </div>
</div>

  <div class="twothirds">
    <ul class="subnav">
      <li><%= link_to "#{@user.username.pluralize} Station" %></li>
      <li><%= link_to "#{@user.username.pluralize} Activity Feed" %></li>
    </ul>
    
    <!-- <h3>What <%= @user.username.pluralize %> been up to</h3>
    <div id="activity-list">
      <%= render :partial => 'shared/activity', :collection => @activities %>
    </div>

    <%= paginate @activities %> -->
    
    <%= render :partial => 'songs/new' %>
    
    <%= render :partial => 'stations/playlist', :locals => { :station => @user.station } %>
    <%- if @user.station.songs.empty? -%>
      <h4>No songs yet!  Browse some blogs, artists, or just post your music!</h4>
    <%- end -%>
  </div>

  <div class="third">
    <div class="image">
      <%= image_tag(@user.avatar.url) %>
    </div>
    <%= link_to "View #{@user.username.pluralize} station", @user.station, :class => 'button' unless @user.station.nil? %>

    <h3><%= @user.username %> Stats</h3>
  </div>