<div class="title grid">
  <div class="twothirds">
    <%= image_tag @user.avatar.url(:small), :class => 'icon' %>
    <h2 class="icon"><%= @user.username %> Radio <small>Listen to the latest songs <%= @user.username %> has liked.</small></h2>
  </div>
  <div class="third">
    
  </div>
</div>

  <div class="twothirds">
    <h3>What <%= @user.username.pluralize %> been up to</h3>
    <div id="activity-list">
      <%= render :partial => 'shared/activity', :collection => @activities %>
    </div>

    <%= paginate @activities %>
    
    <h3><%= @user.username %> Radio</h3>
    <%= render :partial => 'stations/playlist', :locals => { :songs => @user.station.songs, :station => @user.station } %>
  </div>

  <div class="third">
    <div class="image">
      <%= image_tag(@user.avatar.url) %>
    </div>
    <%= link_to "View #{@user.username.pluralize} station", @user.station, :class => 'button' unless @user.station.nil? %>

    <h3><%= @user.username %> Stats</h3>
  </div>