<div class="nav-container">
  <div class="title">
    <div class="image">
      <%= image_tag @user.avatar.url(:medium), :class => 'medium' %>
      <%= link_to 'Upload Avatar', user_account_path, :class => 'upload-avatar' if user_signed_in? and @user.id == current_user.id %>
    </div>

    <h1 class="icon"><%= @user.full_name %></h1>
    <% if false %>
    <ul class="nav-meta">
      <!-- <li>Broadcasting <%= link_to '@' + @user.username, '/@' + @user.username %></li> -->
      <li><%= pluralize @user.station.songs_count, 'like' %></li>
      <li><%= pluralize @user.followers.count, 'follower' %></li>
    </ul>
    <% end %>

    <nav class="nav-menu">
      <%= nav_link_to 'Favorites', @user %>
      <%= nav_link_to 'Feed', feed_user_path(@user) %>
      <%= nav_link_to 'Following', following_user_path(@user) %>
      <%= nav_link_to 'Followers', followers_user_path(@user) %>
    </nav>

    <%= render :partial => 'shared/actions', :locals => { :station => @user.station }  %>
  </div>

  <div class="whole">
  <% if @songs %>
    <%- cache("user_artists_#{@user.id}") do -%>
      <%= render 'stations/artists' if @artists.length > 0 %>
    <%- end -%>

    <div id="favorites" class="section active">
      <%- if @user.station.songs.empty? -%>
        <h4>No songs yet!  Browse some blogs, artists, or just post your music!</h4>
      <%- else -%>
        <%= render partial: 'stations/playlist', locals: { station: @user.station, songs: @user_songs } %>
      <%- end -%>
    </div>

    <% elsif @feed %>

    <%- if @feed_songs.length > 0 -%>
      <%= render partial: 'stations/playlist', locals: { station: @user.feed_station, songs: @feed_songs, already_limited: true, has_title: true } %>
    <%- else -%>
      <h3><strong>Your feed is empty!</strong> Follow your friends, artists and blogs!</h3>
      <p>Your feed will automatically fill with the latest songs from all the people you follow</p>
    <%- end -%>

  <% elsif @following %>

    <div id="following" class="section active">
      <%- if @following.size > 0 -%>
        <div class="stations">
          <%= render_stations @following %>
        </div>
      <%- else -%>
        <p>Not following anyone!</p>
      <%- end -%>
    </div>

  <% elsif @followers %>

    <div id="followers" class="section active">
      <%- if @followers.size > 0 -%>
        <div class="stations">
          <%= render_stations @followers %>
        </div>
      <%- else -%>
        <p>No followers!</p>
      <%- end -%>
    </div>

  <%- end -%>
  </div>
</div>