<div class="nav-container">
  <div class="title">
    <%= image_tag @user.avatar.url(:small), :class => 'image' %>
    <h2 class="icon"><%= @user.username %></h2>

    <%= render :partial => 'shared/actions', :locals => { :station => @user.station } %>

    <nav class="nav-menu">
      <%= link_to 'Favorites', '#favorites', :class => 'active' %>
      <%= link_to 'Following', '#following' %>
      <%= link_to 'Followers', '#followers' %>
    </nav>
  </div>

  <div class="whole">
    <%= render 'stations/artists' if @artists.length > 0 %>

    <div id="favorites" class="section active">
      <%- if @songs.empty? -%>
        <h4>No songs yet!  Browse some blogs, artists, or just post your music!</h4>
      <%- else -%>
        <%= render :partial => 'stations/playlist', :locals => { :station => @user.station, :songs => @songs } %>
      <%- end -%>
    </div>

    <div id="following" class="section">
      <%- if @following.size > 0 -%>
        <div class="stations">
          <%= render_stations @following %>
        </div>
      <%- else -%>
        <p>Not following anyone!</p>
      <%- end -%>
    </div>

    <div id="followers" class="section">
      <%- if @followers.size > 0 -%>
        <div class="stations">
          <%= render_stations @followers %>
        </div>
      <%- else -%>
        <p>No followers!</p>
      <%- end -%>
    </div>
  </div>
</div>