<div class="nav-container">
  <div class="title">
  <%= link_to 'Upload Avatar', '/account', :class => 'upload-avatar' if user_signed_in? and !current_user.avatar.exists? %>
  <%- cache ['v1', @user, 'header'] do -%>
    <%= image_tag @user.avatar.url(:medium), :class => 'image medium' %>
    <h1 class="icon"><%= @user.username %></h1>

    <nav class="nav-menu">
      <%= nav_link_to 'Favorites', @user %>
      <%= nav_link_to 'Following', user_following_path %>
      <%= nav_link_to 'Followers', user_followers_path %>
    </nav>
  <%- end # end cache
  -%>

    <%= render :partial => 'shared/actions', :locals => { :station => @user.station } %>
  </div>

  <div class="whole">
    <% if @songs %>
      <%- cache("user_artists_#{@user.id}") do -%>
      <%= render 'stations/artists' if @artists.length > 0 %>
      <%- end -%>

    <div id="favorites" class="section active">
      <%- if @songs.empty? -%>
        <h4>No songs yet!  Browse some blogs, artists, or just post your music!</h4>
      <%- else -%>
        <%= render :partial => 'stations/playlist', :locals => { :station => @user.station, :songs => @songs } %>
      <%- end -%>
    </div>

    <% elsif @following %>

    <div id="following" class="section active">
      <%- if @following.size > 0 -%>
        <div class="stations">
          <%= render_stations @following %>
        </div>
      <%- else -%>
        <p>Not following anyone!</p>
      <%- end -%>
    </div>

    <% elsif @followers %>

    <div id="followers" class="section active">
      <%- if @followers.size > 0 -%>
        <div class="stations">
          <%= render_stations @followers %>
        </div>
      <%- else -%>
        <p>No followers!</p>
      <%- end -%>
    </div>

    <% end %>
  </div>
</div>