<%= form_for(:user, :url => user_registration_path, :html => {:id => 'register-form'}) do |f| %>
  <%= devise_error_messages! if defined? resource %>

  <div class="clearfix">
    <%= f.label :username, "Username".html_safe %>
    <%= f.text_field :username %>
  </div>

  <div class="clearfix">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="clearfix">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="actions">
    <%= link_to "Sign up with Facebook", user_omniauth_authorize_path(:facebook), :class => 'facebook-button login-button button control', 'data-dimensions' => '800,500' %>
    <%= link_to "Sign up with Twitter", user_omniauth_authorize_path(:twitter), :class => 'twitter-button login-button button control', 'data-dimensions' => '800,500' %>
    <% f.submit "Sign up!" %>
  </div>

  <span class="help">We respect your <%= link_to 'privacy', '' %>.</span>
<% end %>
