<%= form_for(:user, :url => user_registration_path) do |f| %>
  <%= devise_error_messages! if defined? resource %>

  <div class="clearfix">
    <%= f.label :username, "Username".html_safe %>
    <%= f.text_field :username %>
  </div>

  <div class="clearfix">
    <%= f.label :email %>
    <%= f.email_field :email %>
    <span class="help">No spam, ever! See our privacy policy</span>
  </div>

  <div class="clearfix">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="actions clearfix">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
