<% song, song_counter = cover, cover_counter %>
<section id="song-<%= song.id %>" data-index="<%= song_counter %>" data-station="<%= station_id %>-<%= page %>">
  <div class="song-art cover-medium">
    <%= image_tag song.resolve_image(:medium) %>
  </div>
  <h4><%= song.linked_title.html_safe %></h4>
  <time>
    <%= relative_time(song.published_at) %>
    <span><%= song_time(song.length) %></span>
  </time>
  <ul class="song-controls">
    <li class="broadcast"><%= broadcast_song(song) %></li>
  </ul>
  <%= link_to '', song, :class => 'song-link control' %>
  <%= link_to 'i', song, :class => 'song-button control' %>
  <%= debug(song) %>
</section>