<% song, song_counter = cover, cover_counter %>
<section id="song-<%= song.id %>" data-index="<%= song_counter %>" data-station="<%= station_id %>-<%= page %>">
  <div class="song-art">
    <%= image_tag song.resolve_image(:medium) %>
  </div>

  <h4><%= song.linked_title.html_safe %></h4>

  <%= link_to '', song, :class => 'song-link control' %>
  <%= link_to '<span>4</span>'.html_safe, '', :class => 'play-song add control' %>

  <nav>
    <span class="broadcast"><%= broadcast_song(song) %></span>
    <%= link_to '&nbsp;'.html_safe, song, :class => 'pictos-share control no-text' %>
  </nav>

  <div class="below-song">
    <strong>
      <%- if song.reposted? -%>
        By <%= link_to pluralize(song.shared_count,'blog'), song %>
      <% else %>
        <%= link_to "#{song.station_title}".html_safe, '/'+song.station_slug %>
      <%- end -%>
    </strong>
    <time><%= relative_time(song.published_at) %></time>
  </div>

  <%= debug(song) %>
</section>