<% song, song_counter = cover, cover_counter %>
<section id="song-<%= song.id %>" data-index="<%= song_counter %>" data-station="<%= station_id %>-<%= page %>">
  <div class="song-cover">
    <div class="song-art">
      <%= image_tag song.resolve_image(:medium) %>
    </div>

    <h4>
      <span><%= song.name %></span>
      <small><%= song.artist_name %></small>
    </h4>

    <%= link_to '', "#song-#{song.id}", :class => 'song-link song-wrap control' %>
    <%= link_to ''.html_safe, "#song-#{song.id}", :class => 'song-link play-song add control pictos' %>

    <nav>
      <span class="broadcast"><%= broadcast_song(song) %></span>
    </nav>

    <nav class="right">
      <%= link_to 'Info'.html_safe, song, :class => 'pictos-info' %>
      <%= link_to 'Buy'.html_safe, song, :class => 'pictos-cart' %>
    </nav>
  </div>

  <div class="below-song">
    <strong>
      <%- if song.reposted? -%>
        <%= link_to 'By ' + pluralize(song.shared_count,'blog'), song %>
      <% else %>
        <%= link_to "#{song.station_title}".html_safe, '/'+song.station_slug %>
      <%- end -%>
    </strong>
    <time><%= relative_time(song.published_at) %></time>
  </div>

  <%= debug(song) %>
</section>