<% song, song_counter = cover, cover_counter %>
<section id="song-<%= song.id %>" data-index="<%= song_counter %>" data-station="<%= station_id %>-<%= page %>">
  <div class="song-art">
    <%= image_tag song.resolve_image(:medium) %>
  </div>
  <h4>
    <%= song.linked_title.html_safe %>
    <span>
      <%- if song.reposted? -%>
        Posted by <%= link_to pluralize(song.shared_count,'blog'), song %>
      <% else %>
        <%= link_to "#{song.station_title}".html_safe, '/'+song.station_slug %>
      <%- end -%>
    </span>
  </h4>
  <time>
    <%= relative_time(song.published_at) %>
  </time>
  <ul class="song-controls">
    <li class="broadcast"><%= broadcast_song(song) %></li>
  </ul>
  <%= link_to '', song, :class => 'song-link control' %>
  <nav>
    <%= link_to '100', song, :class => 'pictos-heart control' %>
    <%= link_to '&nbsp;'.html_safe, song, :class => 'pictos-add control no-text' %>
    <%= link_to '&nbsp;'.html_safe, song, :class => 'pictos-share control no-text' %>
  </nav>
  <%= debug(song) %>
</section>