<%- station_id ||= -1 %>
<section id="song-<%= mini.id %>" data-index="<%= mini_counter %>" data-station="<%= station_id %>">
  <div class="song-info">
    <h4><%= mini.linked_title.html_safe %></h4>
    <div class="song-meta">
      <%= link_to 'j', mini, :class => 'pictos permalink' %>
      <%= link_to "#{truncate(mini.station_title)}".html_safe, mini %> &nbsp;&middot;
      <%- if mini.reposted? -%>
        Posted by <%= link_to pluralize(mini.shared_count,'blog'), mini %>
        &nbsp;&middot;
      <%- end -%>
      <time><%= relative_time(mini.published_at) %></time>
    </div>
  </div>
  <ul class="song-controls">
    <li class="broadcast"><%= broadcast_song(mini) %></li>
  </ul>
  <%= link_to '', mini, :class => 'song-link control' %>
  <%= debug(mini) %>
</section>