<%- station_id ||= -1 %>
<tr id="song-<%= row.id %>" data-index="<%= row_counter %>" data-station="<%= station_id %>">
  <td class="song-likes tip" title="Hover to like!">
    <%= broadcast_song(row) %>
    <%= image_tag row.resolve_image(:small), :class => 'cover-small' %>
  </td>
  <td class="song-info">
    <h3><%= link_to row.full_name, row %></h3>
    <% if !row.original_song? %><span>Originally by <%= links row.original_artists %></span><% end %>
  </td>
  <td class="song-meta">
    <time><%= relative_time(row.published_at) %></time>
    <span>by <%= link_to "#{truncate(row.blog_name)} #{image_tag('link-external.png')}".html_safe, blog_path(row.blog_slug) %></span>
  </td>
  <td class="song-more">
    <%= link_to '$', nil, :class => 'button small pictos' %>
    <%= link_to 'a'.html_safe, row.post_url, :class => 'button small pictos', :target => '_blank' %>
  </td>
</tr>