<%- length ||= 160 -%>
<section id="song-<%= song.id %>" data-index="<%= song_counter + params[:page].to_i %>" data-station="<%= station_id %>">
  <div class="song-info">
    <h4><%= link_to song.artist_name, song, :class => 'song-artist' %> - <%= link_to song.name, song, :class => 'song-name' %></h4>
    <div class="song-art">
      <div class="cover"><%= image_tag('/images/cover.png') %></div>
      <%= image_tag(song.resolve_image(:small)) %>
    </div>
    <div class="song-post">
      <div class="song-meta">
        <%= link_to "#{truncate(song.blog_name)}".html_safe, blog_path(song.blog_slug) %> &middot;
        <%- if song.reposted? -%>
          Posted by <%= link_to pluralize(song.shared_count,'blog'), song %> 
        &middot;
        <%- end -%>
        First posted <time><%= relative_time(song.created_at) %></time> (<%= link_to 'Read &raquo;'.html_safe, song.post_url, :target => '_blank' %>)
      </div>
      <p><%= truncate(song.post.excerpt, :length => length) %></p>
      <%- if user_signed_in? and false -%>
      <span class="active">Active:
        <%= hidden_field_tag('seen_ids[]', song.id) -%>
        <%= check_box_tag 'song_ids[]', song.id, @station.songs.include?(song), { :id => song.id } -%>
      </span>
      <%- end -%>
    </div>
    <ul class="song-links">
      <li>Purchase song:</li>
      <li><%= link_to 'eMusic' %></li>
      <li><%= link_to 'iTunes' %></li>
      <li><%= link_to 'Amazon' %></li>
      <li class="right"><%= link_to 'Stats' %></li>
      <li class="right"><%= link_to 'Similar songs' %></li>
    </ul>
  </div>
  <ul class="song-controls">
    <li class="play-song pictos">9</li>
    <li class="broadcast"><%= song_broadcast(song) %></li>
  </ul>
</section>