<%- length ||= 160 -%>
<% unless song.processed? %>
<section class="downloading" id="song-<%= song.id %>">
  <h4>Downloading song <%= song.link_text %>...</h4>
  <div class="song-meta"><%= song.url %></div>
<% else %>
<section id="song-<%= song.id %>" data-index="<%= song_counter + params[:page].to_i %>" data-station="<%= station_id %>">
  <div class="song-info">
    <h4><%= link_to song.artist_name, song, :class => 'song-artist' %> - <%= link_to song.name, song, :class => 'song-name' %></h4>
    <div class="song-art">
      <%= image_tag(song.image.url(:small)) %>
    </div>
    <div class="song-post">
      <div class="song-meta">Posted <time><%= relative_time(song.created_at) %></time> &middot; Read post <%= link_to "#{truncate(song.post.title, :length => 25)}".html_safe, song.post.url %></div>
      <p><%= truncate(song.post.excerpt, :length => length) %></p>
      <%- if user_signed_in? and false -%>
      <span class="active">Active:
        <%= hidden_field_tag('seen_ids[]', song.id) -%>
        <%= check_box_tag 'song_ids[]', song.id, @station.songs.include?(song), { :id => song.id } -%>
      </span>
      <%- end -%>
    </div>
  </div>
  <ul class="song-controls">
    <li class="play-song pictos">9</li>
    <li class="broadcast"><%= song_broadcast(song) %></li>
  </ul>
<% end %>
</section>