<%- station_id ||= -1
    art = :tiny %>
<section id="song-<%= song.id %>" data-index="<%= song_counter %>" data-station="<%= station_id %>-<%= page %>">

  <div class="song-art cover-<%= art %>">
    <%= image_tag song.resolve_image(art) %>
  </div>

  <div class="song-info">
    <h1>
      <span class="artist"><%= author_links song.authors %></span>
      <span class="name"><%= link_to song.name %></span>
    </h1>

    <div class="song-meta">
      <%- if song.reposted? -%>
        <span>Found on <%= link_to pluralize(song.shared_count,'blog'), song %></span>
      <% else %>
        <span>Found on <%= link_to "#{song.station_title}".html_safe, '/'+song.station_slug %></span>
      <%- end -%>

      <time><%= relative_time(song.published_at) %></time>
    </div>

    <div class="waveform-wrap"><%= image_tag song.waveform, :class => 'waveform' if song.waveform? %></div>

    <p><%= song.post_excerpt %></p>
  </div>

  <ul class="song-controls">
    <li class="broadcast"><%= broadcast_song(song) %></li>
  </ul>

  <%= debug(song) %>
</section>