<%- if song.respond_to?('sender_username') -%>
  <h4 class="song-sender">Sent from <%= link_to song.sender_username, '/' + song.sender_station_slug %> <small><%= relative_time(song.sent_at) %></small></h4>
<%- elsif song.respond_to?('receiver_username') -%>
  <h4 class="song-sender">Sent to <%= link_to song.receiver_username, '/' + song.receiver_station_slug %> <small><%= relative_time(song.sent_at) %></small></h4>
<%- end -%>

<%-
  id           = song.matching_id.to_s
  station_id ||= -1
-%>

<section id="song-<%= song.matching_id %>" data-index="<%= song_counter %>" data-station="<%= station_id %>-<%= page %>" data-slug="<%= song.slug %>">

  <div class="song-count"><%= (song_counter + 1) + ((page - 1) * Yetting.per) %></div>

<%-
  cache_if id.to_i > 5, ['v14', song, id, station_id] do

    follow_id       = 'station-follow-' + id
    cover         ||= :icon
    broadcasted     = song.respond_to? :broadcasted_at
    with_follow     = song.respond_to? :following_station_id
    show_original   = (!with_follow or song.following_station_id != song.station_id)
    reviews       ||= [song]
-%>

  <div class="song-info">
    <%= image_tag  song.resolve_image(cover), :class => "song-art cover-#{cover}" %>

    <h3>
      <%-
        links = author_links(song.authors)
        if links[:original].length > 0
      -%>
      <span class="artist"><%= links[:original] %> <%= links[:other] %></span>
      <% end %>
      <span class="name"><%= tagged_song_name(song.name) %></span>
    </h3>
  </div>

  <span class="broadcast"><%= broadcast_song(song) %></span>

  <div class="song-meta">
    <div class="song-meta-pre">
      <%= render :partial => 'songs/posted', :locals => { :song => song, :with_follow => with_follow } if show_original  %>
      <%= render :partial => 'songs/posted', :locals => { :song => song, :broadcasted => true } if with_follow %>
      <%= link_to '}', '#song-' + id, :class => 'control pictos song-more', 'data-toggle' => 'open', 'data-toggle-html' => '{' %>
    </div>

    <div class="song-controls">
      <% link_to '0', '#song-' + id, :class => 'add-comment pictos-comment control restricted' %>
      <% link_to '+', '#add-to-playlist', :class => 'nav-hover song-add restricted control', 'data-pad' => '16', 'data-id' => id %>
      <%= link_to 'Share', '#share', :class => 'nav-hover song-share restricted control update-clipboard', 'data-pad' => '16', 'data-id' => id %>
      <%= link_to 'iTunes', itunes_affiliate_url(id), class: 'popup control', 'data-dimensions' => '450x450' %>
      <%= link_to 'Amazon', amazon_affiliate_url(id), class: 'popup control' %>
    </div>
  </div>

  <%= image_tag song.waveform, :class => 'waveform' if song.waveform? %>

  <div class="reviews">
    <%= render :partial => 'blogs/review', :collection => reviews %>
  </div>

  <%= link_to '', "#song-#{song.matching_id}", :class => 'song-link play-song control' %>
</section>

<%-
  end # end cache
-%>