<%-
    id = song.id.to_s
    station_id ||= -1
    cover      ||= :icon
    follow_id    = 'station-follow-' + id
    time         = song.respond_to?(:broadcasted_at) ? song.broadcasted_at : song.published_at
    class_names  = 'listened-to' if song.listen_id? rescue nil
-%>

<section id="song-<%= song.matching_id %>" data-index="<%= song_counter %>" data-station="<%= station_id %>-<%= page %>" class="<%= class_names %>">
  <%-
    cache('song_' + id) do
  -%>
  <div class="song-info">
    <%= image_tag song.resolve_image(cover), :class => "song-art cover-#{cover}" %>

    <h1>
      <%-
        links = author_links(song.authors)
      -%>
      <span class="artist"><%= links[:original] %></span>
      <span class="name"><%= tagged_song_name(song.name) %> <em><%= links[:other] %></em></span>
    </h1>
  </div>

  <div class="song-meta">
    <div class="song-follow">
      <span class="follow-<%= song.station_id %>"><%= follow_station(song.station_id, song.station_follows_count) %></span>
      <%= link_to song.station_title, '/'+song.station_slug %>
      <%= link_to '+ ' + (song.blog_broadcasts_count - 1).to_s, song if song.reposted? %>
    </div>

    <time><%= relative_time(time) %></time>
  </div>

  <%= image_tag song.waveform, :class => 'waveform' if song.waveform? %>

  <div class="reviews">
    <%= render :partial => 'blogs/review', :collection => [song] %>
  </div>

  <%= link_to '', "#song-#{song.matching_id}", :class => 'song-link play-song control' %>

  <%-
    end # end cache
  -%>

  <div class="song-controls">
    <%= broadcast_song(song) %>
  </div>
</section>