 <%-
    id = song.matching_id.to_s
    station_id ||= -1
    cover      ||= :icon
    follow_id    = 'station-follow-' + id
    time         = song.respond_to?(:broadcasted_at) ? song.broadcasted_at : song.published_at
    class_names  = 'listened-to' if song.listen_id? rescue nil
-%>

<%- if song.respond_to?('sender_username') -%>
  <h4 class="song-sender">Sent from <%= link_to song.sender_username, song.sender_station_slug %> <small><%= relative_time(song.sent_at) %></small></h4>
<%- elsif song.respond_to?('receiver_username') -%>
  <h4 class="song-sender">Sent to <%= link_to song.receiver_username, song.receiver_station_slug %> <small><%= relative_time(song.sent_at) %></small></h4>
<%- end -%>

<%-
  cache("song-#{id}-#{song.updated_at}") do
-%>

<section id="song-<%= song.matching_id %>" data-index="<%= song_counter %>" data-station="<%= station_id %>-<%= page %>" data-slug="<%= song.slug %>" class="<%= class_names %>">
  <div class="song-info">
    <%= image_tag song.resolve_image(cover), :class => "song-art cover-#{cover}" %>

    <h1>
      <%-
        links = author_links(song.authors)
        if links[:original].length > 0
      -%>
      <span class="artist"><%= links[:original] %></span>
      <% end %>
      <span class="name"><%= tagged_song_name(song.name) %> <em><%= links[:other] %></em></span>
    </h1>
  </div>

  <div class="song-meta">
    <div class="song-posted">
      Posted by
      <div class="follow-station-wrap">
        <span class="follow-<%= song.station_id %>"><%= follow_station(song.station_id, song.station_follows_count) %></span>
        <%= link_to song.station_title, '/'+song.station_slug %>
        <%= link_to '+ ' + (song.blog_broadcasts_count - 1).to_s, song if song.reposted? %>
      </div>
      <time datetime="<%= time %>"><%= relative_time(time) %></time>
    </div>

    <div class="song-controls">
      <span class="broadcast"><%= broadcast_song(song) %></span>
      <%= link_to 'Share', '#share', :class => 'nav-hover song-share restricted control', 'data-pad' => '20', 'data-id' => id %>
    </div>
  </div>

  <%= image_tag song.waveform, :class => 'waveform' if song.waveform? %>

  <div class="reviews">
    <%= render :partial => 'blogs/review', :collection => [song] %>
  </div>

  <%= link_to '', "#song-#{song.matching_id}", :class => 'song-link play-song control' %>
</section>

<%-
  end # end cache
-%>