<%- station_id ||= -1
    art = :small %>
<section id="song-<%= song.id %>" data-index="<%= song_counter %>" data-station="<%= station_id %>-<%= page %>">

  <div class="song-info">
    <h1>
      <span class="artist"><%= author_links song.authors %></span>
      <span class="name"><%= link_to song.name, song %></span>
    </h1>

    <p><%= song.post_excerpt %></p>

    <div class="song-meta">
      <% if song.reposted? %><span><%= link_to pluralize(song.shared_count,'blog'), song %></span>
      <% else %><span><%= link_to "#{song.station_title}".html_safe, '/'+song.station_slug %></span>
      <%- end -%>

      <time><%= relative_time(song.published_at) %></time>
    </div>

    <div class="song-player">
      <%= link_to '', "#song-#{song.id}", :class => 'song-link play-song add control pictos' %>
      <div class="waveform-wrap"><%= image_tag song.waveform, :class => 'waveform' if song.waveform? %></div>
      <div class="song-art cover-<%= art %>">
        <%= image_tag song.resolve_image(art) %>
      </div>
    </div>
  </div>

  <ul class="song-controls">
    <li class="broadcast"><%= broadcast_song(song) %></li>
  </ul>

  <%= debug(song) %>
</section>