<section id="song-<%= song.id %>" rel="<%= song_counter + params[:page].to_i %>">
<% if song.artist.nil? %>
  <h3>Downloading song <%= song.link_text %>...</h3>
  <div class="song-meta"><%= song.url %></div>
<% else %>
  <div class="song-info">
    <h3><%= link_to song.artist, song.artist %> - <%= link_to song.name, song, :class => 'song-name' %></h3>
    <div class="song-meta">Posted <time><%= relative_time(song.created_at) %></time> &middot; Read post <%= link_to "#{truncate(song.post.title, :length => 25)}".html_safe, song.post.url %></div>
    <p><%= truncate(song.post.excerpt, :length => 140) %></p>
    <%- unless @station.nil? -%>
    <span class="active">Active:
      <%= hidden_field_tag('seen_ids[]', song.id) -%>
      <%= check_box_tag 'song_ids[]', song.id, @station.songs.include?(song), { :id => song.id } -%>
    </span>
    <%- end -%>
  </div>
  <ul class="song-controls">
    <li><%= link_to 'Play', song, :class => 'play-song control' %></li>
    <%= favorite_add_or_remove_song(song.id, song.favorites.count) %>
  </ul>
<% end %>
</section>