<%- station_id ||= -1 %>
<section id="song-<%= song.id %>" data-index="<%= song_counter %>" data-station="<%= station_id %>">
  <div class="song-art cover-small">
    <%= image_tag song.resolve_image(:small) %>
  </div>
  <div class="song-info">
    <h4><%= song.linked_title.html_safe %></h4>
    <div class="song-meta">
      <%- if song.reposted? -%>
        Posted by <%= link_to pluralize(song.shared_count,'blog'), song %>
        &nbsp;&middot;
      <% else %>
        <%= link_to "#{song.blog_name}".html_safe, blog_path(song.blog_slug) %> &nbsp;&middot;
      <%- end -%>
      <time><%= relative_time(song.published_at) %></time>
      <%= link_to 'j', song, :class => 'pictos permalink' %>
    </div>
    <p><%= song.post_excerpt %></p>
    <ul class="song-links">
      <li class="right"><%= link_to 'Buy', '', :target => '_blank' %></li>
      <li class="right"><%= link_to 'Read Post'.html_safe, song.post_url, :target => '_blank' %></li>
      <li class="right"><%= link_to 'j'.html_safe, song, :class => 'pictos' %></li>
    </ul>
  </div>
  <ul class="song-controls">
    <li class="broadcast"><%= broadcast_song(song) %></li>
  </ul>
  <%= link_to '', song, :class => 'song-link control' %>
  <%= image_tag song.waveform, :class => 'waveform' if song.waveform? %>
  <%= debug(song) %>
</section>