<%-
  id           = song.matching_id.to_s
  station_id ||= -1
  has_title  ||= false
  single     ||= false
-%>

<%- if has_title -%>
  <h4 class="song-title">
    <%- if song.respond_to? :following_station_id -%>
      <%= render partial: 'songs/posted', locals: { song: song, broadcasted: true } %>
    <%- elsif song.respond_to? :sender_username -%>
      Sent from <%= link_to song.sender_username, '/' + song.sender_station_slug %> <small><%= relative_time(song.sent_at) %></small>
    <%- elsif song.respond_to? :receiver_username -%>
      Sent to <%= link_to song.receiver_username, '/' + song.receiver_station_slug %> <small><%= relative_time(song.sent_at) %></small>
    <%- end -%>
  </h4>
<%- end -%>

<section id="song-<%= song.matching_id %>" data-index="<%= song_counter %>" data-station="<%= station_id %>-<%= page %>" data-slug="<%= song.slug %>">
  <div class="song-count"><%= (song_counter + 1) + ((page - 1) * Yetting.per) %></div>

<%-
  cache ['v15', song, id, single] do

    follow_id       = 'station-follow-' + id
    cover         ||= :icon
    reviews       ||= [song]
-%>

  <div class="song-info">
    <%= image_tag  song.resolve_image(cover), :class => "song-art cover-#{cover}" %>

    <h3>
      <%-
        links = author_links(song.authors)
        if links[:original].length > 0
      -%>
      <span class="artist"><%= links[:original] %></span>
      <% end %>
      <span class="name"><%= tagged_song_name(song.name) %> <%= links[:remix] %></span>
    </h3>
  </div>

  <span class="broadcast"><%= broadcast_song(song) %></span>

  <div class="song-meta">
    <div class="song-meta-pre">
      <%= render partial: 'songs/posted', locals: { song: song }  %>
      <% # link_to '}', '#song-' + id, class: 'control icon song-more', 'data-toggle' => 'open', 'data-toggle-html' => '{' %>
    </div>

    <div class="song-controls">
      <%# link_to '0', '#song-' + id, class: 'add-comment icon-comment control restricted' %>
      <%# link_to '+', '#add-to-playlist', class: 'nav-hover song-add restricted control', 'data-pad' => '16', 'data-id' => id %>
      <%= link_to 'Share', '#share', class: 'nav-hover song-share restricted control update-clipboard', 'data-pad' => '16', 'data-id' => id %>
      <%= link_to 'Buy', '#buy', class: 'nav-hover song-buy control', 'data-pad' => '16', 'data-id' => id %>
      <%= link_to 'Flag', '#flag', class: 'nav-hover restricted control', 'data-pad' => '16' %>

      <% song.genres.from_artist.each do |genre| %>
        <%= genre.name %>
      <% end %>
    </div>
  </div>

  <%= image_tag song.waveform, class: 'waveform' if song.waveform? %>

  <div class="reviews">
    <%= render partial: 'blogs/review', collection: reviews %>
  </div>

  <%= link_to '', "#song-#{song.matching_id}", class: 'song-link play-song control' %>
</section>

<%-
  end # end cache
-%>