<%- station_id ||= -1 %>
<section id="song-<%= song.id %>" data-index="<%= song_counter %>" data-station="<%= station_id %>">
  <div class="song-art">
    <div class="cover"><%= image_tag('/images/cover.png') %></div>
    <%= image_tag song.resolve_image(:small), :class => 'cover-small' %>
  </div>
  <div class="song-info">
    <h4><%= title_with_artist_links(song) %></h4>
    <div class="song-meta">
      <%= link_to "#{truncate(song.blog_name)}".html_safe, blog_path(song.blog_slug) %> &nbsp;&middot;
      <%- if song.reposted? -%>
        Posted by <%= link_to pluralize(song.shared_count,'blog'), song %>
        &nbsp;&middot;
      <%- end -%>
      <time><%= relative_time(song.published_at) %></time>
      &nbsp;&middot;
      <%= link_to 'j', song, :class => 'pictos permalink' %>
    </div>
    <p><%= truncate(strip_tags(song.post_content), :length => 90) %></p>
    <ul class="song-links">
      <li class="right"><%= link_to 'Purchase' %></li>
      <li class="right"><%= link_to 'Read &raquo;'.html_safe, song.post_url, :target => '_blank' %></li>
    </ul>
  </div>
  <ul class="song-controls">
    <li class="broadcast"><%= broadcast_song(song) %></li>
  </ul>
  <%= link_to '', song, :class => 'song-link' %>
</section>