<%-
    id = song.id.to_s

cache('song_' + id) do

    station_id ||= -1
    cover      ||= :icon
    follow_id    = 'station-follow-' + id
    time         = song.respond_to?(:broadcasted_at) ? song.broadcasted_at : song.published_at
    class_names  = 'listened-to' if song.listen_id? rescue nil
-%>

<section id="song-<%= song.matching_id %>" data-index="<%= song_counter %>" data-station="<%= station_id %>-<%= page %>" class="<%= class_names %> ui-draggable">
  <div class="song-info">
    <a class="song-art cover-<%= cover %>" href="">
      <%= image_tag song.resolve_image(cover) %>
    </a>

    <h1>
      <%
        links = author_links(song.authors)
      %>
      <span class="artist"><%= links[:original] %></span>
      <span class="name"><%= tagged_song_name(song.name) %> <em><%= links[:other] %></em></span>
    </h1>

    <div class="song-friends">
      <% if user_signed_in? %><% end %>
    </div>
  </div>

  <div class="song-meta">
    <div class="song-follow">
      <span class="follow-<%= song.station_id %>"><%= follow_station(song.station_id, song.station_follows_count) %></span>
      <%= link_to song.station_title, '/'+song.station_slug %>
      <%= link_to '+ ' + (song.blog_broadcasts_count - 1).to_s, song if song.reposted? %>
    </div>

    <div>
      <time><%= relative_time(time) %></time>
    </div>

    <div>
      <%= link_to song.comments_count, song, :class => 'comments pictos-comment control' %>
      <%= link_to song.play_count, song, :class => 'comments pictos-play control' %>
      <%= link_to seconds_to_time(song.length), '#', :class => 'comments pictos-time' %>
    </div>
  </div>

  <div class="waveform-wrap"><%= image_tag song.waveform, :class => 'waveform' if song.waveform? %></div>

  <div class="reviews">
    <%= render :partial => 'blogs/review', :collection => [song] %>
  </div>

  <%= link_to '', "#song-#{song.matching_id}", :class => 'play-song play-button control pictos' %>
  <%= link_to '', "#song-#{song.matching_id}", :class => 'song-link play-song control' %>

  <%
    end # end cache
  %>

  <ul class="song-controls">
    <li class="broadcast"><%= broadcast_song(song) %></li>
  </ul>
</section>