<%- station_id ||= -1
    cover      ||= :icon
    follow_id    = 'station-follow-' + song.id.to_s
    time         = song.respond_to?(:broadcasted_at) ? song.broadcasted_at : song.created_at
-%>

<section id="song-<%= song.matching_id %>" data-index="<%= song_counter %>" data-station="<%= station_id %>-<%= page %>">
  <h1>
    <span class="artist"><%= author_links(song.authors) %></span>
    <span class="name"><%= link_to tagged_song_name(song.name), song %></span>
  </h1>

  <div class="song-meta">
    <div>
      <span class="follow-<%= song.station_id %>"><%= follow_station(song.station_id, song.station_follows_count) %></span>
      <%= link_to song.station_title, '/'+song.station_slug %>
      <%= link_to '+ ' + (song.blog_broadcasts_count - 1).to_s, song if song.reposted? %>
    </div>

    <time><%= relative_time(time) %></time>
  </div>

  <div class="song-player">
    <%= link_to '', "#song-#{song.matching_id}", :class => 'song-link play-song play-button control pictos' %>
    <div class="waveform-wrap song-link"><%= image_tag song.waveform, :class => 'waveform' if song.waveform? %></div>
    <div class="song-art cover-<%= cover %>">
      <%= image_tag song.resolve_image(cover) %>
    </div>
  </div>

  <ul class="song-controls">
    <li class="broadcast"><%= broadcast_song(song) %></li>
  </ul>

  <%= debug(song) %>
</section>