<div class="whole primary">
  <%= render :partial => 'stations/playlist', :locals => { :songs => @song_playlist, :paginate => false, :style => 'song', :cover => :medium } %>

  <section class="stats horizontal-list">
    <h3>Info:</h3>
    <span>Posted on <%= pluralize @blogs.length, 'blog' %></span>
    <span><%= pluralize @song.play_count, 'play' %></span>
    <span><%= seconds_to_time @song.length %></span>
  </section>
</div>

<div class="whole reviews">
  <%= render :partial => 'blogs/review', :collection => @song_playlist %>
</div>

<div class="contain">
  <div class="whole">
    <h2>Comments</h2>
    <%= render :partial => 'comments/new_form' %>

    <h3>Similar Songs</h3>
    <%= render :partial => 'stations/playlist', :locals => { :songs => @similar_songs, :paginate => false, :per => 8, :classname => 'similar-songs' } %>
  </div>

  <div class="third hidden">


    <h3>Artists</h3>
    <div class="list">
      <%= render :partial => 'artists/artist', :collection => @song.artists %>
    </div>

    <h3>Broadcasts this week</h3>
    <div id="stats" style="width:100%;height:180px;" data-broadcasts="<%= @stats %>"></div>

  </div>
</div>

<div id="nav-blogs" class="hidden pop-menu">
  <%= render :partial => 'stations/station', :collection => @blogs %>
</div>