<div class="title">
  <%= image_tag @original.image.url(:small), :class => 'icon' %>
  <h2 class="icon">
    <%= @original.name %>
    <small>Artists: <%= artists_list @original %></small>
  </h2>
</div>

<div class="twothirds">
  <%- if @songs.size > 0 %>
    <%= render :partial => 'stations/playlist', :locals => { :songs => @songs } %>
  <%- else -%>
    <%= render :partial => 'single', :locals => { :single => @songs } %>
  <%- end -%>
  
  <h4>Posted on <%= pluralize @blogs.size, 'blog' %></h4>
  <div class="shelf">
    <%= render :partial => 'stations/shelf', :collection => @blogs %>
  </div>
</div>

<div class="third">
  <h4>Broadcasts this week</h4>
  <div id="stats" style="width:300px;height:250px;" data-broadcasts="<%= @stats %>"></div>
  
  <h4>Re-posted by <%= pluralize @original.users.size, 'person' %></h4>
  <div class="user-list">
  </div>
</div>