<div class="whole primary">
  <%= render :partial => 'stations/playlist', :locals => { :songs => @song_playlist, :single => true, :reviews => @matching_songs, :paginate => false, :style => 'song', :cover => :medium } %>
</div>

<div class="contain">
  <div class="whole">
    <%- if @similar_songs.size > 0 %>
      <h3>Similar Songs</h3>
      <%= render :partial => 'stations/playlist', :locals => { :songs => @similar_songs, paginate: false, :classname => 'similar-songs' } %>
    <%- end -%>

    <%- if @blogs_songs.size > 0 %>
      <h3>Top songs by blogs that posted this song</h3>
      <%= render :partial => 'stations/playlist', :locals => { :songs => @blogs_songs, paginate: false, :dont_find_listen => true } %>
    <%- end -%>
  </div>

  <div class="third hidden">


    <h3>Artists</h3>
    <div class="list">
      <%= render :partial => 'artists/artist', :collection => @song.artists %>
    </div>

    <h3>Broadcasts this week</h3>
    <div id="stats" style="width:100%;height:180px;" data-broadcasts="<%= @stats %>"></div>

  </div>
</div>

<div id="nav-blogs" class="hidden pop-menu">
  <%= render :partial => 'stations/station', :collection => @blogs %>
</div>