<%= render 'title' %>

<div class="whole explanation">
  <p>Tweet us <a href="https://twitter.com/2u_fm" class="popup">@2u_fm</a></p>
  <p>
    For any site related inquries or feedback, hit up Nate: <a href="mailto:nate@2u.fm" class="popup">nate@2u.fm</a><br />
    Interested in advertising, bloggers, and artists hit up Ofir: <a href="mailto:ofir@2u.fm" class="popup">ofir@2u.fm</a>
  </p>

  <hr />

  <h3>Nate Wienert <small>Creator &amp; lead developer</small></h3>

  <div class="subnav">
    <%= link_to 'natewienert.com', ' http://natewienert.com', class: 'popup' %>
    <%= link_to '@natebirdman', ' http://twitter.com/natebirdman', class: 'popup' %>
    <%= link_to 'nate@2u.fm', 'mailto:nate@2u.fm', class: 'popup' %>
  </div>

  <p>I'm a tech enthusiast, entreprenuer, and web developer.
    I created 2u.fm out of my love for music and a desire for
    a better way to share and enjoy new music with my friends.</p>

  <hr />

  <h3>Ofir Dahan <small>Promotion, social media</small></h3>

  <div class="subnav">
    <%= link_to '@OfeezHebr0', ' http://twitter.com/OfeezHebr0', class: 'popup' %>
    <%= link_to 'ofir@2u.fm', 'mailto:ofir@2u.fm', class: 'popup' %>
  </div>
</div>