  <div class="whole">
  <% cache('main_index_artists') do %>
    <h3>Recommended <%= link_to 'Artists', artists_path %></h3>
    <%= render partial: 'stations/featured_shelf', locals: { items: @artists  } %>
  <% end %>

    <h3>Genres</h3>
    <%= render 'genres/list' %>

    <h3>Today's most played songs</h3>
    <%= render partial: 'stations/playlist', locals: { station: @songs_station, songs: @songs, classname: 'show-count', dont_paginate: true, already_limited: true } %>
  </div>

<script type="text/javascript">
  <%-
  if user_signed_in?
    stations = @artists.map(&:id)
    follows = current_user.get_station_follows(stations) || []
    if follows
  -%>
    updateFollowsIds.push(<%= raw follows %>);
  <%-
    end
  end -%>
</script>