  <div class="whole">
    <% cache('main_index_artists') do %>
      <h3>Recommended <%= link_to 'Artists', artists_path %></h3>
      <%= render partial: 'stations/featured_shelf', locals: { items: @artists  } %>
    <% end %>

    <%= render partial: 'stations/follows_js', locals: { ids: @artists.map(&:id) } if user_signed_in? %>

    <div class="message">
      <strong>Welcome!</strong>&nbsp;  2u.fm brings new songs from music blogs right to you. <%= link_to 'Learn more', about_main_path %>
    </div>

    <div class="threefourths-wrap">
      <div class="threefourths">
        <h3>Today's most played songs</h3>
        <%= render partial: 'stations/playlist', locals: @playlist %>
      </div>
    </div>

    <div class="fourth">
      <h3>Play Genre</h3>
      <%= render 'genres/list' %>
    </div>
  </div>