  <div class="whole">
    <% cache('main_index') do %>
      <h3>Recommended <%= link_to 'Artists', artists_path %></h3>
      <%= render partial: 'stations/featured_shelf', locals: { items: @artists  } %>
    <% end %>

    <%= render partial: 'stations/follows_js', locals: { ids: @artists.map(&:id) } %>

    <!--<div class="message">
      Discover, enjoy and share new music found across the web. <strong><%= link_to 'Learn more', about_main_path %></strong>
    </div>-->

    <div class="threefourths-wrap">
      <div class="threefourths">
        <h3>Most liked this week</h3>
        <%= render partial: 'stations/playlist', locals: @playlist %>
      </div>
    </div>

    <div class="fourth">
      <h3><%= link_to 'Genres', genres_path %></h3>
      <%= render 'genres/list' %>

      <h3>Popular <%= link_to 'Tags', tags_path %></h3>
      <%= render partial: 'tags/list', locals: { limit: 35 } %>
    </div>
  </div>