<div id="modal-new-user" class="section-container permanent">
  <div id="new-user-genres" class="section">
    <h3>Your Genres</h3>
    <p class="large">2u.fm is built around finding and following cool new artists.<br /> Pick some genres and we'll recommend some artists for you to follow:</p>

    <ul class="genres multi-select">
      <%= render partial: Genre.all, locals: { control: true } %>
    </ul>

    <div class="modal-actions">
      <%= link_to 'Next &raquo;'.html_safe, '#new-user-artists, #new-user-genres', id: 'genres-next', class: 'button control', 'data-toggle' => 'hidden' %>
    </div>
  </div>

  <div id="new-user-artists" class="section hidden">
    <h3>Step 2: Recommended Artists</h3>
    <p class="large">
      Finding artists we think you'll like to follow...
    </p>

    <div class="stations loading">
    </div>

    <div class="modal-actions">
      <%= link_to 'Next &raquo;'.html_safe, '#new-user-friends, #new-user-artists', class: 'button control', 'data-toggle' => 'hidden' %>
      <%= link_to '&laquo; Select more genres'.html_safe, '#new-user-genres, #new-user-artists', class: 'button alt control', 'data-toggle' => 'hidden' %>
    </div>
  </div>

  <div id="new-user-friends" class="section hidden">
    <h3>Step 3: Follow friends</h3>

    <% if false %>
      <p class="large">We've found a few of your friends already using 2u!</p>
      <div class="stations friends-list">
        <%= render partial: 'users/facebook_friend', collection: current_user.facebook_friends %>
      </div>
    <% else %>
      <p class="large">Aw :( None of your friends are on 2u yet!</p>
      <p class="large">Don't listen to music alone!</p>

      <div class="center">
      <%= link_to 'Invite Some Friends', "http://www.facebook.com/sharer.php?u=http://2u.fm&t=#{URI.escape('I\'m getting the best new music from 2u.fm!')}", class: 'facebook-button button big popup control', 'data-dimensions' => '600x400' %>
    </div>

    <% end %>

    <div class="modal-actions">
      <%= link_to 'All done!', feed_user_path(current_user), class: 'button modal-close' %>
      <%= link_to '&laquo; Back'.html_safe, '#new-user-artists, #new-user-friends', class: 'button alt control', 'data-toggle' => 'hidden' %>
    </div>
  </div>

</div>