<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <script type="text/javascript">
    // Redirect to HashBang URI's
    if (window.location.pathname != '/') {
      window.location = ('/#!' + window.location.pathname);
    }
  </script>
  <meta charset="utf-8">
  <%= csrf_meta_tag %>

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>fuse.fm</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
  
  <!-- HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag "application", :debug => Rails.env.development? %>
</head>

<body class="<%= user_signed_in? ? 'signed_in' : 'signed_out' %> wizard">
  <header>
    <div class="page-contain">
      <h1><%= link_to 'fuse.fm', '/home', :class => 'tip-n', :title => 'Go Home!' %> </h1>
      <nav>
        <ul>
          <li><%= link 'Songs', '/songs', :id => 'nav-songs' %></li>
          <li><%= link 'Blogs', '/blogs', :id => 'nav-blogs' %></li>
          <li><%= link 'Artists', '/artists', :id => 'nav-artists' %></li>
          <li><%= link 'Users', '/users', :id => 'nav-users' %></li>
        </ul>
      </nav>
      
      <span id="now_playing">
        Now playing <%= Song.all.count %> songs from <%= Blog.all.count %> blogs
      </span>
      
      <div id="functions">
        <div class="nav">
          <% if user_signed_in? %>
            <%= link_to "#{current_user.username}".html_safe, edit_user_registration_path, :id => 'nav-username' %>
            <div class="nav-dropdown">
              <div id="nav-user">
                <%= link_to "#{image_tag(current_user.avatar.url(:small))} My Station".html_safe, current_user %>
                <%= link_to "Account".html_safe, '/users/edit' %>
                <%= link_to 'Log Out', destroy_user_session_path, :method => 'delete' %>
              </div>
            </div>
          <% else %>
            <%= link_to 'Login', new_user_session_path, :class => 'inline' %>  
            <%= link_to 'Signup', new_user_registration_path, :class => 'inline'  %>
          <% end %>
        </div>
      </div>
    </div>
  </header>
  
  <div id="bar">
    <div class="page-contain">
      <div id="player">
        <a id="player-image" href="#">
          <%= image_tag('/images/default_small.jpg') %>
        </a>
        <div id="player-buttons">
          <%= link_to '8', '#', :class => 'prev pictos control' %>
          <%= link_to '4', '#', :class => 'play pictos control' %>
          <%= link_to '7', '#', :class => 'next pictos control' %>
        </div>
        <div id="player-controls">
          <div id="player-progress-bar">
            <div id="player-progress-position">
              <%= link_to 'Progress', '#', :class => 'progress control' %>
            </div>
            <div id="player-progress-loaded"></div>
          </div>
          <%= link_to 'Add to station', '#', :class => 'add control tip-n', :title => 'Add to station' %>
          <% link_to 'Station', '#', :class => 'radio control tip-n', :title => 'Station controls' %>
        </div>
        <div id="player-meta">
          <%= link_to '&laquo; Press Play'.html_safe, '#', :id => 'player-song' %>
        </div>
      </div>
      
      <%= form_tag '/main/search', :method => 'get' do %>
        <%= text_field_tag :query, '', :placeholder =>'Search artists, blogs, songs...' %>
        <%= submit_tag :s, :id => 'search', :class => 'pictos' %>
      <% end -%>
    </div>
  </div>
  
  <div id="main-mid">
    <div class="page-contain">
      <div id="body">
        <%- if notice -%>
        <div id="dialog" class="notice"><%= notice %></div>
        <%- elsif alert -%>
        <div id="dialog" class="alert"><%= alert %></div>
        <%- end -%>

        <%= yield %>
      </div>
    </div>
  </div>

  <%= javascript_include_tag "application", :debug => Rails.env.development? %>

  <!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview'],['_trackPageLoadTime']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script> -->

</body>
</html>