<!doctype html>
<html lang="en">
<head>
  <title>2u.fm</title>

  <!-- Meta -->
  <meta charset="utf-8">
  <%= csrf_meta_tag %>
  <meta name="description" content="">
  <meta name="author" content="Nate Wienert">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!-- TODO: remove -->
  <meta name="robots" content="noindex">

  <!-- HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag "application", :debug => Rails.env.development? %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>

  <%- if Rails.env == 'production' -%>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-32843361-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <%- end -%>
</head>

<body class="<%= user_signed_in? ? 'signed_in' : 'signed_out' %>">

  <header>
    <div class="page-contain">
      <h1><%= link_to '2u.fm', '/', :title => '2u.fm, find and share music' %> </h1>

      <div id="bar">
        <div id="player">
          <div id="player-controls" class="player-buttons">
            <%= link_to '<span>4</span>'.html_safe, '#', :class => 'play pictos control', :id => 'player-play', :title => 'Play/pause' %>
            <%= link_to '<span>7</span>'.html_safe, '#', :class => 'next pictos control', :id => 'player-next', :title => 'Next song' %>
          </div>

          <div id="player-main">
            <div id="player-meta">
              <span id="player-song-name">&nbsp;</span>
              <span id="player-artist-name">&nbsp;</span>
            </div>
            <div id="player-bottom">
              <div id="player-pre-controls">
                <%= link_to 'm', '#player-playlist', :class => 'pictos nav control tip-n', :id => 'nav-music', :title => 'Current Playlist' %>
              </div>
              <div id="player-progress-bar">
                <div id="player-progress-grabber"></div>
                <div id="player-progress-inner-wrap">
                  <div id="player-progress-position"></div>
                  <div id="player-progress-loaded"></div>
                </div>
                <img id="player-progress-waveform" src="/images/transparent.png" />
              </div>
              <div id="player-post-controls">
                <%= link_to '>', '#', :class => 'volume pictos control tip-n', :id => 'player-volume', :title => 'Volume toggle' %>
                <%= link_to 'k', '#', :class => 'add broadcast-song pictos control tip-n', :id => 'player-add', :title => 'Add to favorites' %>
              </div>
            </div>

            <div id="player-invite-container">
              <a id="player-invite" class="tip-n control disabled" title="Copy this song to your clipboard!" data-hover="Copy!" data-click="Got it!">Share!</a>
            </div>
          </div>
        </div>

        <div id="player-share">
          <%= link_to 'Share on Facebook', '#', :id => 'share-facebook', :class => 'facebook control popup tip-n', :title => 'Share on Facebook', :'data-dimensions' => '500,500' %>
          <%= link_to 'Share on Twitter', '#', :id => 'share-twitter', :class => 'twitter control popup tip-n', :title => 'Share on Twitter', :'data-dimensions' => '500,500' %>
        </div>

        <%= form_tag '/main/search', :method => 'get' do %>
          <%= text_field_tag :query, '', :placeholder =>"Find songs, artists & stations" %>
          <%= submit_tag :s, :id => 'search', :class => 'pictos tip-n', :title => 'Search!' %>
        <% end -%>
      </div>
    </div>
  </header>

  <div id="main-mid">
    <div class="page-contain">
      <%- if notice -%>
      <div id="dialog" class="notice"><%= notice %></div>
      <%- elsif alert -%>
      <div id="dialog" class="alert"><%= alert %></div>
      <%- end -%>

      <div id="navbar">
        <section>
          <h1>Songs:</h1>
          <%= link 'Popular', '/songs',   :id => 'nav-songs' %>
          <%= link 'New', '/songs-new',   :id => 'nav-songs-new' %>
        </section>

        <section class="middle">
          <h1>Browse:</h1>
          <%= link 'Artists', '/artists', :id => 'nav-artists' %>
          <%= link 'Blogs', '/blogs',     :id => 'nav-blogs' %>
          <%= link 'Users', '/users',     :id => 'nav-users' %>
        </section>

        <section class="right">
          <% if user_signed_in? %>
            <%= link 'My Profile', '/' + current_user.station.slug, :id => 'nav-my-station' %>
            <% nav_class = user_signed_in? ? 'nav' : 'modal' %>
            <%= link_to 'U', '#'+nav_class+'-user', :class => "pictos #{nav_class}" + (user_signed_in? ? '' : ' restricted') %>
          <% else %>
            <%= link 'Log in', '/login', :class => 'restricted'  %>
            <%= link 'Sign up', '/signup', :class => 'restricted' %>
          <% end %>
        </section>
      </div>

      <div id="body">
        <%= render :template => 'layouts/single' %>
      </div>
    </div>
  </div>

  <a id="debug" class="control" href="">d</a>
  <div id="debug_dump"></div>

  <!-- Menu items -->
  <div id="nav-user" class="pop-menu">
    <% if user_signed_in? %>
      <span id="current_user" data-id="<%= current_user.id %>"></span>
      <%= link_to "Account", '/users/edit' %>
      <%= link_to 'Log Out', destroy_user_session_path, :method => 'delete', :class=> 'control' %>
    <% else %>
      <%= link 'Login / Signup', '#new-user', :class => 'modal pictos-key' %>
    <% end %>
  </div>

  <div id="player-playlist" class="pop-menu">
    <h4>{{station.title}}</h4>
    {{#songs}}
      <a class="control song-{{id}}" href="#song-{{id}}" data-index="{{id}}">
        <span class="artist">{{artist_name}}</span> - <span class="name">{{name}}</span>
      </a>
    {{/songs}}
  </div>

  <!-- Modals -->
  <div id="overlay" class="shown slow-fade"></div>
  <div id="modal"></div>

  <div class="hidden">
    <div id="modal-user">
      <h3>Welcome to 2u.fm <small>Sign up for free!</small></h3>
      <div id="user-signup">
        <%= render :partial => 'registrations/new_form' %>
      </div>
      <div id="user-login">
        <h4>Login with username or email</h4>
        <%= render :partial => 'sessions/new_form' %>
      </div>
    </div>

    <div id="help">
      <h3>Help</h3>
      <p>Welcome to 2u.fm!  We are collectors of the latest and greatest music from all around the web.  We find new music and sort it all out so you can sit back and enjoy.  Check out our <strong><%= link_to 'popular', '/popular' %></strong>, <strong><%= link_to 'genre', '/genres' %></strong>, and <strong><%= link_to 'artist', '/artists' %></strong> stations to get a start.
      </p>

      <h4>Keyboard Shortcuts</h4>
      <dl>
        <dt>Space</dt><dd>Pause / Play</dd>
        <dt>Enter</dt><dd>Play highlighted song</dd>
        <dt>Arrow keys</dt><dd>Next / Prev</dd>
      </dl>
    </div>
  </div>

  <!-- Spinner -->
  <div id="spinner" class="hidden"></div>

  <%= javascript_include_tag "application", :debug => Rails.env.development? %>

</body>
</html>