<!doctype html>
<html lang="en">
<head>
  <title>2u.fm</title>

  <!-- Meta -->
  <meta charset="utf-8">
  <%= csrf_meta_tag %>
  <meta name="description" content="">
  <meta name="author" content="Nate Wienert">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!-- TODO: remove -->
  <meta name="robots" content="noindex">

  <!-- HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag "application", :debug => Rails.env.development? %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>

  <%- if Rails.env == 'production' -%>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-32843361-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <%- end -%>
</head>

<body class="<%= user_signed_in? ? 'signed_in' : 'signed_out' %>">

  <header>
    <div class="page-contain">
      <h1><%= link_to '2u.fm', '/', :title => '2u.fm, find and share music' %> </h1>

      <div id="bar">
        <div id="player">
          <div id="player-controls" class="player-buttons">
            <%= link_to '<span>4</span>'.html_safe, '#', :class => 'play pictos control', :id => 'player-play', :title => 'Play/pause' %>
            <%= link_to '<span>7</span>'.html_safe, '#', :class => 'next pictos control', :id => 'player-next', :title => 'Next song' %>
          </div>

          <div id="player-main">

            <div id="player-meta">
              <span id="player-song-name">&nbsp;</span>
              <span id="player-artist-name">&nbsp;</span>
            </div>

            <div id="player-bottom">
              <div id="player-pre-controls">
                <%= link_to 'm', '#player-playlist', :class => 'pictos nav control tip-n', :id => 'nav-music', :title => 'Current Playlist' %>
              </div>
              <div id="player-progress-bar">
                <div id="player-progress-grabber"></div>
                <div id="player-progress-inner-wrap">
                  <div id="player-progress-position"></div>
                  <div id="player-progress-loaded"></div>
                </div>
                <img id="player-progress-waveform" src="/images/transparent.png" />
              </div>
              <div id="player-timer">0:00</div>
              <div id="player-post-controls">
                <%= link_to '>', '#', :class => 'volume pictos control tip-n', :id => 'player-volume', :title => 'Volume toggle' %>
              </div>
            </div>
          </div>

          <div id="player-invite-container" class="disabled">
            <%= link_to "Share", '', :id => 'player-invite', :class => 'player-invite button clipboard tip-n control', :title => 'Permalink', 'data-hover' => 'Copy', 'data-click' => 'Paste!'  %>
            <%= link_to "f", '', :id => 'player-invite-facebook', :class => 'player-invite button tip-n control popup', :title => 'Share on Facebook', 'data-dimensions' => '800,400'  %>
            <%= link_to "t", '', :id => 'player-invite-twitter', :class => 'player-invite button tip-n control popup', :title => 'Tweet song', 'data-dimensions' => '600,300' %>
            <% link_to "k", '', :id => 'player-invite-favorite', :class => 'player-invite button tip-n control pictos', :title => 'Favorite'  %>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div id="main-mid">
    <div class="page-contain">
      <%- if notice -%>
      <div id="dialog" class="notice"><%= notice %></div>
      <%- elsif alert -%>
      <div id="dialog" class="alert"><%= alert %></div>
      <%- end -%>

      <div id="navbar">
        <%= form_tag '/main/search', :method => 'get' do %>
          <%= text_field_tag :query, '', :placeholder =>"Search for anything!" %>
          <%= submit_tag :s, :id => 'search', :class => 'pictos tip-n', :title => 'Search!' %>
        <% end -%>

        <%- if user_signed_in? -%>
        <section class="nav-user">
          <%= link_to 'Feed', '/feed', :id => 'nav-feed' %>
          <%= link_to 'Stations', '/stations', :id => 'nav-stations' %>
          <%= link_to 'Profile', current_user, :id => 'nav-profile' %>
        </section>
        <%- end -%>

        <section class="nav-general">
          <%= link_to 'Just in', '/', :id => 'nav-home' %>
          <%= link_to 'Popular', '/popular', :id => 'nav-popular' %>
          <%= link_to 'Artists', '/artists', :id => 'nav-artists' %>
          <%= link_to 'Blogs', '/blogs', :id => 'nav-blogs' %>
        </section>

        <section class="nav-extra">
          <% if user_signed_in? %>
            <%= link_to "Account", '/users/edit' %>
            <%= link_to 'Log out', destroy_user_session_path, :method => 'delete', :class=> 'control' %>
          <% else %>
            <%= link_to 'Login', '/login', :class => 'restricted'  %>
            <%= link_to 'Sign up', '/signup', :class => 'restricted' %>
          <% end %>
          <%= link_to "About Us", "#", :class => "secondary" %>
        </section>

        <% if @friends %>
        <section class="nav-extra stations">
          <h1>Following</h1>
          <%= render :partial => 'users/friend', :collection => @friends %>
        </section>
        <% end %>
      </div>

      <div id="body">
        <%= render :template => 'layouts/single' %>
      </div>
    </div>
  </div>

  <div id="welcome">
    <small>What is 2u.fm?</small>
    <section>
      <h1>A better way to keep track of the new music you like.</h1>
      <h1>A place to discover and follow artists.</h1>
      <h1>Like twitter for music. With stations.  And stuff.</h1>
    </section>
    <%= link_to 'Learn More', '/tour', :class => 'button add' %>
    <%= link_to 'D', '', :class => 'control pictos', :id => 'close-welcome' %>
  </div>

  <a id="debug" class="control" href="">x</a>
  <div id="debug_dump"></div>

  <!-- Menu items -->
  <div id="nav-user" class="pop-menu">
    <% if user_signed_in? %>
      <span id="current_user" data-id="<%= current_user.id %>"></span>

    <% else %>
      <%= link_to 'Login / Signup', '#new-user', :class => 'modal pictos-key' %>
    <% end %>
  </div>

  <div id="player-playlist" class="pop-menu">
    <h4>{{station.title}}</h4>
    {{#songs}}
      <a class="control song-{{id}}" href="#song-{{id}}" data-index="{{index}}">
        <span class="artist">{{artist_name}}</span> - <span class="name">{{name}}</span>
      </a>
    {{/songs}}
  </div>

  <!-- Modals -->
  <div id="overlay" class="shown slow-fade"></div>
  <div id="modal"></div>

  <div class="hidden">
    <div id="modal-user">
      <h3>Welcome to 2u.fm <small>Sign up for free!</small></h3>
      <div id="user-signup">
        <%= render :partial => 'registrations/new_form' %>
      </div>
      <div id="user-login">
        <h4>Login with username or email</h4>
        <%= render :partial => 'sessions/new_form' %>
      </div>
    </div>

    <div id="help">
      <h3>Help</h3>
      <p>Welcome to 2u.fm!  We are collectors of the latest and greatest music from all around the web.  We find new music and sort it all out so you can sit back and enjoy.  Check out our <strong><%= link_to 'popular', '/popular' %></strong>, <strong><%= link_to 'genre', '/genres' %></strong>, and <strong><%= link_to 'artist', '/artists' %></strong> stations to get a start.
      </p>

      <h4>Keyboard Shortcuts</h4>
      <dl>
        <dt>Space</dt><dd>Pause / Play</dd>
        <dt>Enter</dt><dd>Play highlighted song</dd>
        <dt>Arrow keys</dt><dd>Next / Prev</dd>
      </dl>
    </div>
  </div>

  <!-- Spinner -->
  <div id="spinner" class="hidden"></div>

  <%= javascript_include_tag "application", :debug => Rails.env.development? %>

</body>
</html>