<!doctype html>
<html lang="en">
<head>
  <title>2u.fm</title>

  <!-- Meta -->
  <meta charset="utf-8">
  <%= csrf_meta_tag %>
  <meta name="description" content="">
  <meta name="author" content="Nate Wienert">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!-- TODO: remove -->
  <meta name="robots" content="noindex">

  <!-- HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag "application", :debug => Rails.env.development? %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
</head>

<body class="<%= user_signed_in? ? 'signed_in' : 'signed_out' %>">
  <header>
    <div class="page-contain">
      <h1><%= link_to '2u.fm', '/', :title => '2u.fm, find and share music' %> </h1>
      <nav>
        <% nav_class = user_signed_in? ? 'nav' : 'modal' %>
        <%= link_to 'U', '#'+nav_class+'-user', :class => "pictos #{nav_class}" + (user_signed_in? ? '' : ' restricted') %>
        <%= link_to 'm', '#player-playlist', :class => 'pictos nav disabled', :id => 'nav-music' %>
      </nav>

      <div id="bar">
        <div id="player">
          <div id="player-controls" class="player-buttons">
            <%= link_to '<span>4</span>'.html_safe, '#', :class => 'play pictos control', :id => 'player-play', :title => 'Play/pause' %>
            <%= link_to '<span>7</span>'.html_safe, '#', :class => 'next pictos control', :id => 'player-next', :title => 'Next song' %>
          </div>

          <div id="player-main">
            <div id="player-meta">
              <span id="player-song-name">&nbsp;</span>
              <span id="player-artist-name">&nbsp;</span>
            </div>
            <div id="player-bottom">
              <div id="player-progress-bar">
                <div id="player-progress-grabber"></div>
                <div id="player-progress-inner-wrap">
                  <div id="player-progress-position"></div>
                  <div id="player-progress-loaded"></div>
                </div>
                <img id="player-progress-waveform" src="/images/transparent.png" />
              </div>
              <div id="player-alt-controls">
              <%= link_to '>', '#', :class => 'volume pictos control', :id => 'player-volume', :title => 'Volume on/off' %>
              <%= link_to 'k', '#', :class => 'add broadcast-song pictos control tip-n', :id => 'player-add', :title => 'Add to favorites' %>
              </div>
            </div>

            <div id="player-invite-container">
              <a id="player-invite" class="tip-n control disabled" title="Send this song to friends!" data-hover="Copy!" data-click="Copied!">Share!</a>
            </div>
          </div>
        </div>

        <div id="player-share">
          <%= link_to 'Share on Facebook', '#', :id => 'share-facebook', :class => 'facebook control popup tip-n', :title => 'Share on Facebook', :'data-dimensions' => '500,500' %>
          <%= link_to 'Share on Twitter', '#', :id => 'share-twitter', :class => 'twitter control popup tip-n', :title => 'Share on Twitter', :'data-dimensions' => '500,500' %>
        </div>

        <div id="loading" class="pictos hide">0</div>

        <%= form_tag '/main/search', :method => 'get' do %>
          <%= text_field_tag :query, '', :placeholder =>"Search songs, artists and stations" %>
          <%= submit_tag :s, :id => 'search', :class => 'pictos tip-n', :title => 'Search!' %>
        <% end -%>
      </div>
    </div>
  </header>

  <div id="main-mid">
    <div class="page-contain">
      <%- if notice -%>
      <div id="dialog" class="notice"><%= notice %></div>
      <%- elsif alert -%>
      <div id="dialog" class="alert"><%= alert %></div>
      <%- end -%>

      <div id="sidebar">
        <a id="tour-button" class="announce primary control" href="/tour">
          The best way to find &amp; share music with friends &raquo;
        </a>

        <section>
          <h1>Listening to</h1>
          <%= link 'Nothing, yet', '/songs-new', :id => 'nav-now-playing', :class => 'pictos-music tip' %>
        </section>

        <section>
          <h1>Songs</h1>
          <% if user_signed_in? %><%= link 'My Station', '/songs-new', :id => 'nav-my-station', :class => 'pictos-user restricted' %><% end %>
          <%= link 'Trending', '/songs-new',   :id => 'nav-songs-new' , :class => 'pictos-up' %>
          <%= link 'Popular', '/songs',   :id => 'nav-songs'     , :class => 'pictos-heart' %>
          <%= link 'New', '/songs-new',   :id => 'nav-songs-new' , :class => 'pictos-clock' %>
        </section>

        <section>
          <h1>Stations</h1>
          <%= link 'Browse', '/stations',  :id => 'nav-stations'     , :class => 'pictos-list' %>
          <%= link 'Artists', '/artists', :id => 'nav-artists'   , :class => 'pictos-users' %>
          <%= link 'Blogs', '/artists', :id => 'nav-artists'   , :class => 'pictos-newspaper' %>
          <%= link 'Users', '/users', :id => 'nav-users'   , :class => 'pictos-user' %>
          <% if user_signed_in? %>
            <div id="station-drop">
              Drag stations here
            </div>
          <% end %>
        </section>

        <div class="bottom">
          <a href="/mac" class="announce mac-only control pictos-down">
            Get the app for mac!
          </a>
        </div>
      </div>

      <div id="body">
        <%= render :partial => 'shared/breadcrumbs' %>
        <div class="contain">
          <%= yield %>
        </div>
      </div>
    </div>
    <div id="push"></div>
  </div>

  <footer class="clearfix">
    <div class="page-contain">
      <div id="footer-about">
        <h4>What is 2u.fm?</h4>
        <p><strong>2u.fm</strong> is the best place to find new music to share with friends.  We gather music from all over the web and sort it all out so you can discover the best of it.  Follow anything you like -- artists, genres, blogs, or other users.  We do the rest.</p>

        <span>&copy; 2012 Verite LLC.  All rights reserved.</span>
      </div>

      <div id="footer-info">
        <h4>Info</h4>
        <a href="#">Team</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
        <a href="#">Legal</a>
      </div>

      <div id="footer-connect">
        <h4>Connect</h4>
        <a href="">Twitter</a>
        <a href="">Facebook</a>
        <a href="">Email</a>
      </div>

      <div id="footer-like">
        <h4>More</h4>
      </div>
    </div>
  </footer>

  <a id="debug" class="control" href="">d</a>
  <div id="debug_dump"></div>

  <!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview'],['_trackPageLoadTime']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script> -->

  <!-- Menu items -->
  <div id="nav-user" class="nav-menu">
    <% if user_signed_in? %>
      <span id="current_user" data-id="<%= current_user.id %>"></span>
      <%= link_to "#{image_tag(current_user.avatar.url(:small))} My Station".html_safe, current_user %>
      <%= link_to "Account", '/users/edit' %>
      <%= link_to 'Log Out', destroy_user_session_path, :method => 'delete', :class=> 'control' %>
    <% else %>
      <%= link 'Login / Signup', '#new-user', :class => 'modal pictos-key' %>
    <% end %>
  </div>

  <div id="player-playlist" class="nav-menu">
    <h4>{{station.title}}</h4>
    {{#songs}}
      <a class="control song-{{id}}" href="#song-{{id}}" data-index="{{id}}">
        <span class="artist">{{artist_name}}</span> - <span class="name">{{name}}</span>
      </a>
    {{/songs}}
  </div>

  <!-- Modals -->
  <div id="overlay" class="shown slow-fade"></div>
  <div id="modal"></div>

  <div class="hidden">
    <div id="modal-user">
      <h3>Welcome to 2u.fm! <small>Sign up for a free account and always have the best music!</small></h3>
      <div id="user-signup">
        <h4>Signup</h4>
        <%= render :partial => 'registrations/new_form' %>
      </div>
      <div id="user-login">
        <h4>Login</h4>
        <%= render :partial => 'sessions/new_form' %>
      </div>
    </div>

    <div id="help">
      <h3>Help</h3>
      <p>Welcome to 2u.fm!  We are collectors of the latest and greatest music from all around the web.  We find new music and sort it all out so you can sit back and enjoy.  Check out our <strong><%= link_to 'popular', '/popular' %></strong>, <strong><%= link_to 'genre', '/genres' %></strong>, and <strong><%= link_to 'artist', '/artists' %></strong> stations to get a start.
      </p>

      <h4>Keyboard Shortcuts</h4>
      <dl>
        <dt>Space</dt><dd>Pause / Play</dd>
        <dt>Enter</dt><dd>Play highlighted song</dd>
        <dt>Arrow keys</dt><dd>Next / Prev</dd>
      </dl>
    </div>
  </div>

  <%= javascript_include_tag "application", :debug => Rails.env.development? %>

</body>
</html>