
  <header>
    <h1><%= link_to '2u.fm', '/', title: '2u.fm, find and share music' %></h1>
    <%= link_to 'More', '#more-menu', id: 'more-nav', class: 'control nav-click', 'data-pad' => '1px' %>

    <div id="buttons">
      <span class="broadcast">
        <%= render partial: "songs/broadcast", locals: { action: 'add', id: '0', count: 'Like', extra_class: 'disabled'  } %>
        <%= render partial: "songs/broadcast", locals: { action: 'destroy', id: '0', count: 'Unlike'  } %>
      </span>
      <%= link_to 'Share', '#share', :id => 'player-share', :class => 'nav-hover control icon-link disabled update-clipboard', 'data-pad' => '5'  %>
      <%= link_to 'Playlist', '#player-playlist', :class => 'nav-hover control icon-music disabled', :id => 'nav-music', 'data-pad' => '5' %>
      <%# link_to 'Off', '#friends', id: 'tune-in', class: 'nav-hover hover-off control icon-globe tip-e', 'data-pad' => '18' %>
      <% if user_signed_in? %>
        <%= link_to "Me #{image_tag(current_user.avatar.url(:small))}".html_safe, station_path(current_user), class: 'nav-hover icon-user restricted', 'data-pad' => '5', 'data-target' => '#nav-user' %>
      <% else %>
        <%= link_to "Me", '', class: 'nav-hover icon-user control restricted', 'data-pad' => '5', 'data-target' => '#nav-user' %>
      <% end %>
      <%= render partial: 'shared/notifications' %>
    </div>

    <a id="mobile-nav" class="icon control" href="/">l</a>
  </header>

  <div id="player">
    <div id="player-controls" class="player-buttons">
      <%= link_to '<span>4</span>'.html_safe, '#', :class => 'play icon control', :id => 'player-play', :title => 'Play/pause' %>
      <%= link_to '<span>7</span>'.html_safe, '#', :class => 'next icon control', :id => 'player-next', :title => 'Next song' %>
    </div>

    <div id="player-main">

      <div id="player-meta">
        <span id="player-song-name"><a title="Return to song" class="tip-n" href="">&nbsp;</a></span>
        <span id="player-artist-name">&nbsp;</span>
      </div>

      <div id="player-bottom">
        <div id="player-mini-controls">
          <div id="player-volume-wrap">
            <a id="player-volume-icon" href="#player-volume-wrap" class="control post icon-volume-on">
              <div id="player-volume-dropdown">
                <div id="player-volume">
                  <div id="player-volume-position" style="width:100%;"></div>
                </div>
              </div>
            </a>
          </div>
          <%= link_to 'Normal', "", :id => 'player-mode', :class => 'control icon-normal post tip-n', title: 'Toggle shuffle/repeat' %>
        </div>

        <div id="player-progress-bar">
          <div id="player-progress-grabber"></div>
          <div id="player-progress-inner-wrap">
            <div id="player-progress-position"></div>
            <div id="player-progress-loaded"></div>
          </div>
        </div>

        <div id="player-timer">0:00</div>
      </div>

    </div>
  </div>

  <div id="player-live">
    <%= link_to '0 people listening to you', '', 'data-count' => '0' %>
  </div>

  <div id="main-mid">
    <%= form_tag '/do/search', :method => 'get', :id => "search-form" do %>
      <%= text_field_tag :query, '', tabindex: '1' %>
      <%= submit_tag :s, :id => 'search', :class => 'icon tip-n', :title => 'Search!' %>
    <% end -%>

    <div id="navbar">
      <div id="navbar-menus">
        <div id="navbar-menus-inner">
          <section>
            <%= link_to 'Home', user_signed_in? ? users_home_path : home_path, :id => 'nav-home', :class => 'icon-home'  %>
            <%= link_to 'Feed', feed_user_path(current_user), class: 'icon-list' if user_signed_in? %>
            <%= link_to 'Trending', songs_trending_path, :id => 'nav-trending', :class => 'icon-pulse'  %>
            <%= link_to 'Newest', songs_fresh_path, :id => 'nav-new', :class => 'icon-time' %>
          </section>

          <section>
            <h1>Browse</h1>
            <%= link_to 'Artists', artists_path, :id => 'nav-artists', :class => 'icon-users' %>
            <%= link_to 'Tags', tags_path, :id => 'nav-tags', :class => 'icon-tags' %>
            <%= link_to 'Blogs', blogs_path, :id => 'nav-artists', :class => 'icon-newspaper' %>
          </section>

          <section id="genres-section">
            <h1 href="#navbar-genres" data-toggle="invisible"><%= link_to 'Genres'.html_safe, genres_path %></h1>

            <div id="navbar-genres" class="scroll-section">
              <div id="navbar-genres-wrap">
                <%= render 'genres/links' unless user_signed_in? %>
                <%- if user_signed_in? -%>
                  <%= render 'genres/users' %>
                  <hr />
                  <%= link_to 'Browse', genres_path %>
                  <%= link_to 'Edit', genres_favorites_path %>
                <%- end -%>
              </div>
            </div>
          </section>

          <% unless user_signed_in? %>
          <section class="nav-extra account">
            <h1>Account</h1>
            <%= link_to 'Log in', '#modal-login', class: 'icon-key modal control' %>
          </section>

          <section class="nav-info hidden">
            <p>2u.fm finds new music from across the web.</p>
            <p>Like songs &amp; share them with friends.</p>
            <p>The best ones filter to the top!</p>
            <%= link_to 'Learn more here', '#modal-login', class: 'modal control' %>
          </section>
          <% end %>
        </div>
      </div>

      <% if user_signed_in? %>
      <section id="navbar-friends" class="nav-bottom hidden">
        <h1 class="tip-w" title="Online and offline friends">Friends</h1>
        <div class="scroll-section">
          <div id="navbar-friends-inner"></div>
        </div>
      </section>
      <% end %>
    </div>

    <div id="body">
      <%= render template: 'layouts/single' %>
    </div>

    <% if false %>
    <%# ad_spot('leaderboard', controller) do |ad| %>
      <div id="promo-fixed-lower">
        <%= ad %>
      </div>
    <%# end %>
    <% end %>
  </div>