<%- if notice -%>
  <div id="dialog" class="notice"><%= notice %></div>
<%- elsif alert -%>
  <div id="dialog" class="alert"><%= alert %></div>
<%- end -%>

<%= render :partial => 'shared/breadcrumbs' %>

<div id="title" class="hidden">
  <%= title %>
</div>

<div id="page-identifier" class="contain controller-<%= controller.controller_name %> action-<%= controller.action_name %> primary-<%= @primary ? @primary.class.name.downcase : 'none' %>">
  <%= yield %>
</div>